<main>
    <section>

        <!-- TABLE -->
        <table>

            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-1">Task ID</th>
                    <th class="col-xs-1">Client</th>
                    <th class="col-xs-1">Date Created</th>
                    <th class="col-xs-1">Phone Number</th>
                    <th class="col-xs-1">Assigned To</th>
                    <th class="col-xs-1">Task Type</th>
                    <th class="col-xs-1">Supplier</th>
                    <th class="col-xs-1">Cost Price</th>
                    <th class="col-xs-1">Selling Price</th>
                    <th class="col-xs-1">Payment</th>
                    <th class="col-xs-1">Net Profit</th>
                    <th class="col-xs-1">Status</th>
                </ng-container>
            </tr>

            <!-- TABLE BODY -->

            <ng-container *ngIf="taskData.length > 0; else noUsers">
                <tr *ngFor="let user of taskData" >
                    <td>{{user.taskId}}</td>
                    <td>{{user.client}}</td>
                    <td>{{user.dateCreated}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.assignedTo}}</td>
                    <td>{{user.taskType}}</td>
                    <td>{{user.supplier}}</td>
                    <td>{{user.costPrice}}</td>
                    <td>{{user.sellingPrice}}</td>
                    <td>{{user.payment}}</td>
                    <td>{{user.netProfit}}</td>
                    <td>{{user.status}}</td>
                </tr>
            </ng-container>

            <ng-template #noUsers>
                <tr *ngIf="!showShimmer">
                    <td colspan="8" style="text-align: center;">No Users Found</td>
                </tr>
            </ng-template>

        </table>

        <!-- TABLE SHIMMER -->
        <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer>

        <!-- TABLE PAGING -->
        <app-pagination *ngIf="taskData.length > 0"  (currentPageEvent)="receivePageSize($event)" [pageSize]="UsersArrayLength">
        </app-pagination>

    </section>
</main>