<main>

    <div class="firstDiv">
        <h3>Users Table</h3>
    </div>
    <section>

        <!-- TABLE -->
        <table>

            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">ID</th>
                    <th class="col-xs-3">First Name</th>
                    <th class="col-xs-3">Last Name</th>
                    <th class="col-xs-3">Username</th>
                    <th class="col-xs-3">Email</th>
                    <th class="col-xs-3">Status</th>

                </ng-container>
            </tr>

            <!-- TABLE BODY -->

            <ng-container *ngIf="userArray.length > 0; else noUsers">
                <tr *ngFor="let user of userArray" (click)="moveToRouteWithIndex('/users/view', user.user_ID)">
                    <td>{{user.user_ID}}</td>
                    <td>{{user.first_NAME}}</td>
                    <td>{{user.last_NAME}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.is_ACTIVE}}</td>
                </tr>
            </ng-container>

            <ng-template #noUsers>
                <tr *ngIf="!showShimmer">
                    <td colspan="6" style="text-align: center;">No Users Found</td>
                </tr>
            </ng-template>

        </table>

        <!-- TABLE SHIMMER -->
        <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer>

        <!-- TABLE PAGING -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)" [pageSize]="UsersArrayLength">
        </app-pagination>

    </section>
</main>