<!-- add expand row -->

<mat-card class="cardWithShadow">

  <mat-expansion-panel [expanded]="open_expansion_value === 1" (opened)="OPEN_PANEL()" (closed)="CLOSE_PANEL()">



    <mat-expansion-panel-header>
      <mat-panel-title class="f-w-600 mat-body-1 currentAction">{{CurrentAction}}</mat-panel-title>
    </mat-expansion-panel-header>


    <mat-card-content>
      <!-- FIRST ROW :  CUSTOMER NAME + COUNTRY + NOTE -->
      <div class="row">

        <!-- Amount-->
        <div class="col-md-6 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Amount</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input type="number" matInput placeholder="Amount" [(ngModel)]="ADDED_GENERAL_EXPENSE.amount"
              (ngModelChange)="onInputChange()" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M441-120v-86q-53-12-91.5-46T293-348l74-30q15 48 44.5 73t77.5 25q41 0 69.5-18.5T587-356q0-35-22-55.5T463-458q-86-27-118-64.5T313-614q0-65 42-101t86-41v-84h80v84q50 8 82.5 36.5T651-650l-74 32q-12-32-34-48t-60-16q-44 0-67 19.5T393-614q0 33 30 52t104 40q69 20 104.5 63.5T667-358q0 71-42 108t-104 46v84h-80Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- Description -->
        <div class="col-md-6 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Description</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Description" [(ngModel)]="ADDED_GENERAL_EXPENSE.description"
              (ngModelChange)="onInputChange()" min="0">
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

      </div>

      <div class="Buttons_div">
        <div *ngIf="ShowAddButoon">
          <button mat-flat-button color="primary" (click)="ADD_GENERAL_EXPENSE()"> Add General Expense </button>
        </div>

        <div class="TwoButtons" *ngIf="!ShowAddButoon">
          <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>

          <button mat-flat-button color="primary" (click)="UPDATE_GENERAL_EXPENSE()"
            [disabled]="SHOW_LOADING_SPINNER || !DATA_CHANGED">
            <span *ngIf="!SHOW_LOADING_SPINNER">Update General Expense</span>
            <mat-spinner diameter="20" *ngIf="SHOW_LOADING_SPINNER"></mat-spinner>
          </button>

        </div>
      </div>
    </mat-card-content>

  </mat-expansion-panel>
</mat-card>

<mat-card class="cardWithShadow">
  <!-- Search -->
  <header>
    <div class="searchbar p-20">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Search General Expenses..." aria-label="general expenses"
          (keyup)="APPLY_SEARCH_FILTER($any($event.target).value)">
        <mat-icon matPrefix class="op-5">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
            width="24px" fill="#5f6368">
            <path
              d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
          </svg>
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="filter-date p-20">

      <section>
        @if(showDatePicker) {
        <mat-form-field appearance="outline" class="date_picker">

          <mat-date-range-input [rangePicker]="custompicker">
            <input matStartDate placeholder="Start date" [(ngModel)]="START_DATE"
              (ngModelChange)="handleStartDateChange($event)" />
            <input matEndDate placeholder="End date" [(ngModel)]="END_DATE"
              (ngModelChange)="handleEndDateChange($event)" />
          </mat-date-range-input>

          <mat-datepicker-toggle matIconSuffix [for]="custompicker"></mat-datepicker-toggle>
          <mat-date-range-picker #custompicker></mat-date-range-picker>

        </mat-form-field>
        }

        <!-- DATE -->
        <div class="dropdown">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select p placeholder="Today" [(ngModel)]="selectedMonth"
              (selectionChange)="DROPDOWN_FILTERATION($event.value, 'month')">
              @for(month of months; track month) {
              <mat-option value={{month.value}}>{{month.viewValue}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>
      </section>


      <!-- Download As -->
      <div class="dropdown">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select placeholder={{selectedDownloadOption}} [ngModel]="selectedDownloadOption"
            (selectionChange)="DROPDOWN_FILTERATION($event.value, 'Download')">
            @for(option of Options; track option) {
            <mat-option value={{option.value}}>{{option.viewValue}}</mat-option>
            }
          </mat-select>
          <mat-icon matPrefix class="op-5">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
              <path
                d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
            </svg>
          </mat-icon>
        </mat-form-field>
      </div>


    </div>

  </header>

  <!-- Table -->
  <mat-card-content>

    @if(show_shimmer){
    <app-table-shimmer [headers]="displayedColumns"></app-table-shimmer>
    }

    @else{
    <!-- TABLE BODY -->
    <div class="table-responsive">

      <table mat-table [dataSource]="GeneralExpenseArray" multiTemplateDataRows>
        @for( column of displayedColumns; track column) {

        <ng-container matColumnDef="{{ column }}">

          <!-- table headers -->
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0">
            {{ column | titlecase}}</th>

          <!-- table Data -->
          <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0"
            (click)=" EXPAND_ROW($event, element, column)">

            <!-- display row objects -->
            <ng-container *ngIf="column !== 'amount'; else amountColumn">
              <ng-container *ngIf="column !== 'action'; else actionColumn">
                <ng-container *ngIf="column !== 'createdAt'; else dateColumn">
                  <ng-container *ngIf="column !== 'description'; else noteColumn">
                    {{ element[column] }}
                  </ng-container>
                </ng-container>
              </ng-container>


            </ng-container>

            <ng-template #dateColumn>{{ FORMAT_DATE(element[column]) }}</ng-template>
            <ng-template #noteColumn>{{ truncateText(element[column], 40) }}</ng-template>
            <!-- SHOW ACTION TEMPLATE -->
            <ng-template #actionColumn>
              <div class="action-link">
                <a (click)="SELECTED_GENERAL_EXPENSE(element)" class="m-r-10 cursor-pointer"><i-tabler name="edit"
                    class="icon-18"></i-tabler></a>
                <a (click)="OPEN_DIALOG('Delete', element)" class="m-r-10 cursor-pointer"><i-tabler name="trash"
                    class="icon-18"></i-tabler></a>
              </div>
            </ng-template>
            <!--IF THE COLUMN IS AMOUNT THEM APPLY SPECIFIC DESIGN-->
            <ng-template #amountColumn>$ {{ element.amount}}</ng-template>

          </td>



        </ng-container>


        }

        <!-- EXPANDED ROW DETAILS -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <div class="details-container p-3 rounded border mb-3 mx-2">

                <div class="detail-body mt-3">
                  <div class="col-md-4">
                    <div class="detail-field"><strong>Amount: </strong> {{ element.amount}}</div>
                    <div class="detail-field"><strong>Description: </strong> {{ element.description }}</div>
                  </div>

                  <div class="col-md-4">
                    <div class="detail-field"><strong>Created At: </strong>{{ FORMAT_DATE(element.createdAt) }}</div>
                    <div class="detail-field"><strong>Updated At: </strong> {{ FORMAT_DATE(element.updatedAt) }}</div>
                  </div>
                </div>


                <div class="invoice-btn-div">
                  <button class="invoice-btn">Print invoice</button>
                </div>

              </div>
            </div>
          </td>
        </ng-container>


        <!-- HEADER AND ROW DEFINITIONS -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)=" expandedElement = expandedElement === element ? null : element;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      </table>

      @if(GeneralExpenseArray.filteredData.length===0 && !show_shimmer){
      <app-no-items-found></app-no-items-found>
      }

    </div>
    }



    <!-- LENGTH : 1-10 of length -->
    <!-- pageSize : Items Per Page -->

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" [length]="General_Expense_Array_length" [pageSize]="pageSize"
      aria-label="Select page" showFirstLastButtons (page)="onPageChange($event)">
    </mat-paginator>

  </mat-card-content>

</mat-card>