<div class="row">

  <div class="col-12">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <mat-card-title class="title">
          <img src="./assets/images/backgrounds/profile.png" alt="">
          {{ admin?.firstname }}'s Personal Details Use safe navigation operator
        </mat-card-title>

        @if(SHOW_PROFILE){
        <div class="row m-t-24">

          <div class="col-sm-6">
            <!-- firstname -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">First Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text"  name="firstname" [(ngModel)]="UPDATED_ADMIN.firstname" [readonly]="!UpdateProfile"/>
            </mat-form-field>

            <!-- Email -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" name="email" [(ngModel)]="UPDATED_ADMIN.email" [readonly]="!UpdateProfile"/>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <!-- Last Name -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Last Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" [(ngModel)]="UPDATED_ADMIN.lastname" [readonly]="!UpdateProfile"/>
            </mat-form-field>

            <!-- Phone Number -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Phone</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" [(ngModel)]="UPDATED_ADMIN.phone" [readonly]="!UpdateProfile"/>
            </mat-form-field>
          </div>

          <div class="col-sm-12">

            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Permissions</mat-label>
            <div class="row">


              @for(task of permissions; track task) {
              <!-- Permissions -->
              <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div>
                  <span>
                    <mat-checkbox [checked]="task.completed" [color]="task.color" [indeterminate]="someComplete(task)"
                      (change)="setAll(task, $event.checked)" [disabled]="!UpdateProfile">
                      {{ task.name }}
                    </mat-checkbox>
                  </span>
                  <span>

                    @for(subTask of task.subtasks; track subTask) {
                    <div class="m-l-16">
                      <div>
                        <mat-checkbox [(ngModel)]="subTask.completed" [color]="subTask.color"
                          (ngModelChange)="updateAllComplete(task)" [disabled]="!UpdateProfile">
                          {{ subTask.name }}
                        </mat-checkbox>
                      </div>
                    </div>
                    }
                  </span>
                </div>
              </div>
              }

            </div>
          </div>
        </div>
      }
        <br>
        <br>

        @if(UpdateProfile){
          <div class="text-right p-24 p-t-0">
            <button mat-stroked-button color="warn" (click)="CANCEL_UPDATE()" class="m-r-8">Cancel</button>
            <button mat-flat-button color="primary" (click)="SAVE_EDIT()">Save</button>
          </div>
        }

        @else {
          <div class="text-right p-24 p-t-0">
            <button  mat-flat-button color="primary" (click)="EDIT_PROFILE()">Edit Profile</button>
          </div>
  
        }



      </mat-card-content>
    </mat-card>
  </div>

</div>