<mat-card-content class="p-y-24 b-t-1">

<div class="row">
  <div class="col-12">
    <mat-card class="cardWithShadow">
      <mat-card-content>
          <mat-card-title>Personal Details</mat-card-title>

<div class="row m-t-24">

    <div class="col-sm-6">
      <!-- firstname -->
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">First Name</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" [(ngModel)]="admin.firstname" placeholder="{{admin.firstname}}" />
      </mat-form-field>

      <!-- Email -->
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Email</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="email" placeholder="{{admin.email}}" [(ngModel)]="admin.email" />
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <!-- Last Name -->
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Last Name</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" [(ngModel)]="admin.lastname" placeholder="{{admin.lastname}}" />
      </mat-form-field>

      <!-- Phone Number -->
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Phone</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput type="text" placeholder="{{admin.phone}}" [(ngModel)]="admin.phone" />
      </mat-form-field>
    </div>

</div>

  <!-- <div class="text-right p-24 p-t-0">
    <button mat-stroked-button color="warn" class="m-r-8">Cancel</button>
    <button mat-flat-button color="primary">Save</button>
  </div> -->

      </mat-card-content>
    </mat-card>
  </div>
</div>

</mat-card-content>
