<main>
    <section>

        <!-- TABLE -->
        <table>

            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3"> Package Number</th>
                    <th class="col-xs-3">Destination</th>
                    <th class="col-xs-3">Nb of seats</th>
                    <th class="col-xs-3">Duration</th>
                    <th class="col-xs-3">Hotels</th>
                    <th class="col-xs-3">Note</th>
                    <th class="col-xs-3">Status</th>
                </ng-container>
            </tr>

            <!-- TABLE BODY -->
            <tr>
                <td>1</td>
                <td>Istanbul</td>
                <td>3</td>
                <td>1 hr 30 min</td>
                <td>Hotel </td>
                <td>This is example note</td>
                <td>Confirmed</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Istanbul</td>
                <td>3</td>
                <td>1 hr 30 min</td>
                <td>Hotel </td>
                <td>This is example note</td>
                <td>Confirmed</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Istanbul</td>
                <td>3</td>
                <td>1 hr 30 min</td>
                <td>Hotel </td>
                <td>This is example note</td>
                <td>Confirmed</td>
            </tr>
        </table>

        <!-- TABLE SHIMMER -->
        <!-- <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer> -->

    </section>

    <!-- TABLE PAGING -->
    <!-- <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)" [pageSize]="ArrayLength">
    </app-pagination> -->
</main>