.full-div {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  background-image: url('/assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px 30px;
  flex-direction: column;
}

.logo {
  width: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.form {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 10px;
}

section {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section main .label {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #000000;
  margin-bottom: 5px;
  font-size: 14px;
}

.input {
  width: 90%;
  border: 1px solid #d0d2d4;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 8px 15px;
  background-color: #f7f7f7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(25, 98, 154, 0.778);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(244, 218, 190, 0.1);
}

.input-error {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .form-container {
    width: 100%;
  }
}

.for-error {
  color: #ed2028;
  font-size: 12px;
}

.typing-indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.custom-loader {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  color: #ed2028;
  border: 2px solid;
  position: relative;
}

.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: #ed2028;
  animation: p6 0s infinite;
}

@keyframes p6 {
  100% {
    inset: 0;
  }
}

.submit-btn {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-91 {
  color: #fff;
  width: 90%;
  height: 40px;
  background-color: #2a4687;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-image {
  margin: 0;
}

.logo-image img {
  width: 370px;
  margin: 0;
}

/* Styles for screens with a width between 600 and 900 pixels (inclusive) */
@media (max-width: 500px) {
  .logo-image img {
    width: 330px;
    margin: 0;
  }

  .form {
    width: 350px;
  }
}

@media (max-width: 380px) {
  .logo-image img {
    width: 280px;
    margin: 0;
  }

  .form {
    width: 280px;
  }
}

@media (max-width: 310px) {
  .logo-image img {
    width: 220px;
    margin: 0;
  }

  .form {
    width: 240px;
  }
}
