.form-control{
  display: block;
    width: 100%;
    padding: 0.65rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #141414;
    appearance: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.auth-main {
  position: relative;
}

.auth-main .auth-wrapper {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.auth-main .auth-wrapper .saprator {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: 'Public Sans', sans-serif;
}

.auth-main .auth-wrapper .saprator:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 1;
}

.auth-main .auth-wrapper .saprator span {
  font-size: 23px;
  padding: 8px 24px;
  background: white;
  z-index: 5;
  text-transform: capitalize;
  color: #343a40;
  /* font-weight: 600; */
}

.auth-main .auth-wrapper.v3 {
  display: flex;
  align-items: center;
}

.auth-main .auth-wrapper.v3 .auth-form {
  flex-direction: column;
  background: url('/assets/img-auth-bg.svg');
  min-height: 100vh;
  padding: 24px;
  background-repeat: no-repeat;
  background-size: auto 82%;
  background-position: left bottom;
  position: relative;
  justify-content: space-between;
}

.auth-main .auth-wrapper.v3 .auth-form > * {
  position: relative;
  z-index: 5;
}

.auth-main .auth-wrapper.v3 .auth-form:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(16px);
}

.auth-main .auth-wrapper .auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.auth-main .auth-wrapper .auth-form .card {
  width: 100%;
  max-width: 495px;
  box-shadow: none;
}

.auth-main .auth-wrapper .auth-form img + span {
  padding-left: 15px;
}

.auth-main .auth-wrapper .auth-form h5 span {
  text-decoration: underline;
}

.auth-main .auth-wrapper .auth-footer,
.auth-main .auth-wrapper .auth-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 -12px 0 0;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  position: absolute;
  top: 203px;
  right: 45px;
}

.card-body{
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 0px;

}

.card{
  border-radius: 0px;
  border: 1px solid rgb(238, 238, 238);
}
