<div class="full-div">

  <div class="form-container">

    <div class="logo">
      <div class="logo-image">
        <img src="./assets/ServSmart-Logo1.png" alt="">
      </div>
    </div>

    <div class="form">
      <section>
        <main>
          <label class="label">Email</label>
          <input type="email" class="input" [(ngModel)]="email" (ngModelChange)="validateEmail()"
            (keydown)="handleKeydown($event)" />
          <div class="input-error">
            <div class="for-error">{{ emailError }}</div>
          </div>
        </main>
      </section>

      <section>
        <main>
          <label class="label">Password</label>
          <input type="password" class="input" [(ngModel)]="password" (ngModelChange)="validatePassword()"
            (keydown)="handleKeydown($event)" />
          <div class="input-error">
            <div class="for-error">{{ passwordError }}</div>
          </div>
        </main>
      </section>


      <section>
        <div class="submit-btn">
          <button type="submit" (click)="login()" class="button-91">
            <span *ngIf="!loading">Sign In</span>
            <span *ngIf="loading" class="loader"></span>
          </button>
        </div>
      </section>

    </div>

  </div>
</div>