<div class="chat">
    <!-- <div class="contact bar">
        <div class="pic"></div>
        <div class="name">Tony Stark</div>
        <div class="seen">Today at 12:56</div>
    </div> -->
    <div id="chat-messages" class="messages">
        <div class="time">Today at 11:41</div>


        <div *ngFor="let msg of Files_Array">
           <!-- <div class="message stark"> k: {{msg}}
            <div><span class="bold">name:</span> <span>{{file.my_FILE.file_NAME}}</span></div>
        </div> -->

        <div class="message parker">
            <!-- <div><span class="bold">{{msg.my_FILE.file_NAME}}</span></div> -->
            <!-- <a (click)="openFile(msg.my_FILE.type, msg.my_FILE.file_NAME)" class="file-link">{{msg.my_FILE.file_NAME}}</a> -->
            <a (click)="openFile(msg.my_FILE.file_URL, msg.my_FILE.file_NAME)" class="file-link">{{msg.my_FILE.file_NAME}}</a>

        </div>
        </div>

    </div>
    <div class="input">
        <input id="file" type="file" (change)="onFileChange($event)" />
        <label for="file-input" class="custom-file-label">
            <svg class="file" width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <g id="style=linear">
                        <g id="attach">
                            <path id="vector"
                                d="M20.6475 10.6158L11.8855 19.3778C9.93289 21.3304 6.76706 21.3304 4.81444 19.3778C2.86182 17.4252 2.86182 14.2594 4.81444 12.3068L12.9462 4.17503C14.313 2.80819 16.5291 2.80819 17.8959 4.17503C19.2628 5.54186 19.2628 7.75794 17.8959 9.12478L10.1024 16.9183C9.32132 17.6994 8.05499 17.6994 7.27394 16.9183C6.4929 16.1373 6.49289 14.8709 7.27394 14.0899L14.468 6.89585"
                                stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </label>

        <input type="text" placeholder={{FILE_NAME}} [(ngModel)]="message">

        <button (click)="sendMessage()">send</button>

    </div>
</div>

<!-- <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
<button class="btn btn-success" (click)="sendMessage()">Send</button>
<div class="content">
  <div *ngFor="let msg of msgArray">
    {{msg}}
  </div>
</div> -->