<div class="main">
    <div class="title">Edit Admin : </div>

    <div>

    <div class="row1">
        <div class="forInput">First Name<input class="input" type="text" readonly></div>
        <div class="forInput">Last Name<input class="input" type="text" readonly></div>

        <div class="forInput">Phone number
            <textarea class="input" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="forInput">Email<input class="input" type="text" readonly></div>
    </div>

<br>

    <div class="row2">
        <select class="input-text dropdown">
            <option [value]="option" *ngFor="let option of arrayDropDown">{{option}}</option>
          </select>
          
    </div>

    <br>

    <div class="row3">
        <button class="delete" data-bs-toggle="modal" data-bs-target="#deleteAdminModal">Delete</button>
        <button class="submit">submit</button>
    </div>

</div>

<app-delete-admin></app-delete-admin>