.main{
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(26, 26, 26, 0.1);
  padding: 20px 40px;
  border-radius: 20px;
}

section{
  display: flex;
  justify-content: space-between;
}

section .title{
  font-size: 25px;
  font-weight: 600;
  color: #203269;
  margin-bottom: 40px;
}

section button{
  font-size: 20px;
  font-weight: 600;
  border-style: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #203269;
  background: rgb(223, 236, 247);
  margin-bottom: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

section button:hover{
  color: #ffffff;
  background: rgb(11, 43, 71);
}

.row1, .row2{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.forInput{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000000B2;
  width:100%;
  font-weight: 600;
  font-size: 16px
}

.input{
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 2px solid #EFF0F6;
  transition: 0.3s ease;
  margin-bottom: 10px;
}

.input:focus,
.input:hover{
  outline: none;
  box-shadow: 0 0 0 4px rgba(244, 218, 190, 0.1);
  border-color: rgba(25, 98, 154, 0.778);
}

/* Upload css */
.file-upload-form {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-label input {
  display: none;
  width: 100%;
}

.file-upload-label svg {
  height: 50px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}

.file-upload-label {
  width: 100%;
  cursor: pointer;
  background-color:  #1B59F81A;
  padding: 30px 70px;
  border-radius: 10px;
  border: 2px dashed rgb(82, 82, 82);
  /* box-shadow: 0px 0px 200px -50px rgba(199, 199, 199, 0.719); */
}

.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.browse-button {
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}

.browse-button:hover {
  background-color: rgb(14, 14, 14);
}

@media (max-width:425px) {
  .main{
    width: 100%;
    padding: 10px;
  }
}

.filesName {
  background: aliceblue;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
}
