<div id="pdfContent">
        <section class="wrapper-invoice">
          <!-- switch mode rtl by adding class rtl on invoice class -->
          <div class="invoice">
            <div class="invoice-information">
              <p><b>Invoice #</b> : 12345</p>
              <p><b>Created Date </b>: May, 07 2022</p>
              <!-- <p><b>Due Date</b> : May, 09 2022</p> -->
            </div>
            <!-- logo brand invoice -->
            <div class="invoice-logo-brand">
              <!-- <h2>Tampsh.</h2> -->
              <img src="./assets/image/daher.png" alt="" />
            </div>
            <!-- invoice head -->
            <div class="invoice-head">
              <div class="head client-info">
             <strong>Daher Travel: Labor Recruiting Reports.</strong> 
              </div>
            </div>
            <!-- invoice body-->
            <div class="invoice-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Item Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Income</td>
                    <td>$ {{LABOR_PDF_DATA.income }}</td>
                  </tr>
                  <tr>
                    <td>Expenses</td>
                    <td>$ 5.000</td>
                  </tr>
                  <tr>
                    <td>Netprofit</td>
                    <td>$ 5.000</td>
                  </tr>
                  <tr>
                    <td>Other Incomes</td>
                    <td>$ 5.000</td>
                  </tr>
                  <tr>
                    <td>Other Expenses</td>
                    <td>$ 5.000</td>
                  </tr>
                </tbody>
              </table>
              <div class="flex-table">
                <div class="flex-column"></div>
                <div class="flex-column">
                  <table class="table-subtotal">
                    <tbody>
                      <tr>
                        <td>Subtotal</td>
                        <td>$ 80.000</td>
                      </tr>
                      <tr>
                        <td>PPN 10%</td>
                        <td>$ 5.000</td>
                      </tr>
                      <tr>
                        <td>Credit</td>
                        <td>$ 0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- invoice total  -->
              <div class="invoice-total-amount">
                <p>Total : $ 80.000</p>
              </div>
            </div>
            <!-- invoice footer -->
            <div class="invoice-footer">
              <p>Thankyou, Daher Travel</p>
            </div>
          </div>
        </section>
  </div>