<main>
    
    <div class="forDrop">
        <div><app-dropdown-filter [dropTitle]="dropTitle1" [dropOptions]="dropOptions1"></app-dropdown-filter></div>
        <div><app-dropdown-filter [dropTitle]="dropTitle2" [dropOptions]="dropOptions2"></app-dropdown-filter></div>
        <div> <app-dropdown-filter [dropTitle]="dropTitle3" [dropOptions]="dropOptions3"></app-dropdown-filter></div>
    </div>
    
    <section>
    <!-- <div class="table"> -->
        <table>
            <!-- table Titles -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">file_ID</th>
                    <th class="col-xs-3">Cost</th>
                    <th class="col-xs-3">source</th>
                    <th class="col-xs-3">original_LANGUAGE</th>
                    <th class="col-xs-3">translated_LANGUAGE</th>
                    <th class="col-xs-3">Status</th>
                </ng-container>
            </tr>
            
            <!-- table Body -->
            <tr class="body" *ngFor="let trans of translationArray" (click)="moveToRouteWithIndex('/translation/details',trans.translation_ORDER_ID )">
                <td>{{trans.file_ID}}</td>
                <td>{{trans.price}} {{trans.currency}}</td>
                <td>{{trans.source}}</td>
                <td>{{trans.original_LANGUAGE}}</td>
                <td>{{trans.translated_LANGUAGE}}</td>
                <td class="status-values" [ngClass]="{'active-class': trans.status === 'ACCEPTED','nonActive-class': trans.status === 'DECLINED','pending-class': trans.status === 'In Progress'}">
                    <p>{{trans.status}}</p>
                </td>
            </tr>
               
            </table>
    <!-- </div> -->
    
    <!-- <div class="form" *ngIf="showform">
        <app-form></app-form>
    </div> -->
    
    </section> 
    </main>
    