<main>


    <!-- DROPDOWN -->
    <div class="forDrop">
        <div class="w-100"><app-dropdown-filter [dropTitle]="dropTitle1" [dropOptions]="dropOptions1"
                [dropTitle1]="dropTitle2" [dropOptions1]="dropOptions2" [dropTitle2]="dropTitle3"
                [dropOptions2]="dropOptions3" [showDrop3]="false"></app-dropdown-filter></div>
    </div>

    <section>
        <!-- TABLE -->
        <table>
            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Order ID</th>
                    <th class="col-xs-3">Full Name</th>
                    <th class="col-xs-3">Nationality</th>
                    <th class="col-xs-3">Desired Country</th>
                    <th class="col-xs-3">Gender</th>
                    <th class="col-xs-3">Created At</th>
                    <th class="col-xs-3">Note</th>
                    <th class="col-xs-3">Result</th>
                    
                </ng-container>
            </tr>

            <!-- TABLE BODY -->
            <ng-container *ngIf="students.length > 0; else noRecords">
            <tr class="body" *ngFor="let trans of students">
                <td>{{trans.studentId}}</td>
                <td>{{trans.fullName}}</td>
                <td>{{trans.nationality}}</td>
                <td>{{trans.desiredCountry}}</td>
                <td>{{trans.gender}}</td>
                <td>{{trans.createdAt}}</td>
                <td>{{trans.note}}</td>
                <td>{{trans.result}}</td>
                <td class="status-values"
                    [ngClass]="{'Completed-class': trans.result === 'Accepted','InProgress-class': trans.result === 'In Progress' || trans.result === 'InProgress','DECLINED-class': trans.result === 'Rejected','pending-class': trans.result === 'Pending'}">
                    <p>{{trans.result}}</p></td>
            </tr>
        </ng-container>
            <ng-template #noRecords>
                <tr *ngIf="!showShimmer">
                    <td colspan="8" style="text-align: center;">No Records Found</td>
                </tr>
            </ng-template>

        </table>

        <!-- TABLE SHIMMER -->
        <!-- <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer> -->


        <!-- TABLE PAGING -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)"
            [pageSize]="translationArrayLength"></app-pagination>

    </section>
</main>