<main>


    <!-- DROPDOWN -->
    <div class="forDrop">
        <div class="w-100"><app-dropdown-filter [dropTitle]="dropTitle1" [dropOptions]="dropOptions1"
                [dropTitle1]="dropTitle2" [dropOptions1]="dropOptions2" [dropTitle2]="dropTitle3"
                [dropOptions2]="dropOptions3"></app-dropdown-filter></div>
    </div>

    <section>
        <!-- TABLE -->
        <table>
            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">File ID</th>
                    <th class="col-xs-3">First Name</th>
                    <th class="col-xs-3">Last Name</th>
                    <th class="col-xs-3">Cost+Curreny</th>
                    <th class="col-xs-3">Source</th>
                    <th class="col-xs-3">Original LANGUAGE</th>
                    <th class="col-xs-3">Translated LANGUAGE</th>
                    <th class="col-xs-3">Status</th>
                </ng-container>
            </tr>

            <!-- TABLE BODY -->
            <ng-container *ngIf="translationArray.length > 0; else noRecords">
            <tr class="body" *ngFor="let trans of translationArray"
                (click)="moveToRouteWithIndex('/translation/documentTranslation',trans.translation_ORDER_ID )">
                <td>{{trans.translation_ORDER_ID}}</td>
                <td>{{trans.my_USER.first_NAME}}</td>
                <td>{{trans.my_USER.last_NAME}}</td>
                <td>{{trans.price}} {{trans.currency}}</td>
                <td>{{trans.source}}</td>
                <td>{{trans.original_LANGUAGE}}</td>
                <td>{{trans.translated_LANGUAGE}}</td>
                <td class="status-values"
                    [ngClass]="{'Completed-class': trans.status === 'Completed','InProgress-class': trans.status === 'In Progress' || trans.status === 'InProgress','DECLINED-class': trans.status === 'DECLINED','pending-class': trans.status === 'Pending'}">
                    <p>{{trans.status}}</p></td>
            </tr>
        </ng-container>
            <ng-template #noRecords>
                <tr *ngIf="!showShimmer">
                    <td colspan="8" style="text-align: center;">No Records Found</td>
                </tr>
            </ng-template>

        </table>

        <!-- TABLE SHIMMER -->
        <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer>


        <!-- TABLE PAGING -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)"
            [pageSize]="translationArrayLength"></app-pagination>

    </section>
</main>