section{
  margin-left: 10px
}

.route{
  font-size: 12px;
  color: gray;
  margin: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.route a {
  text-decoration: none;
  color:rgb(240, 190, 51);
  cursor: pointer;
}
  
.routeCurrently{
  color: #1b1a1a;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.02em;
  font-family: 'Poppins', sans-serif;
}