/* permissions.component.scss */

h2 {
  strong {
    text-transform: capitalize;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: flex-end;
}

// #permissions {
//     .permission-checkbox {
//       margin-bottom: 10px;
  
//       input[type="checkbox"] {
//         margin-right: 5px;
//       }
  
//       .sub-permissions {
//         margin-left: 20px;
  
//         input[type="checkbox"] {
//           margin-right: 5px;
//         }
//       }
//     }
//   }
  