<section>

        <div class="inputs">
            <div>
                <label for="">first name: </label>
                <input type="text">
            </div>
        
            <div>
                <label for="">last name: </label>
                <input type="text">
            </div>

            <div>
                <label for="">address: </label>
                <input type="text">
            </div>
        
            <div>
                <label for="">Quantity: </label>
                <input type="number">
            </div>
        
            <div>
                <label for="">Gender: </label>
                <input type="text">
            </div>
        </div>

        <app-button-used [Blue]="true" [buttonValue]="'Add'"></app-button-used>
   
   
</section>
