.main{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(26, 26, 26, 0.1);
    padding: 20px 40px;
    border-radius: 20px;
}

.title{
    font-size: 25px;
    font-weight: 600;
    color: #203269;
    margin-bottom: 40px;
}

.row1{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.row2{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.row3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.row3 button {
  border-radius: 5px;
  border-style: none;
  color: white;
  background: #203269;
  padding: 10px 15px;
}

.forInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000000B2;
    width:100%;
    font-weight: 600;
    font-size: 16px;
}

.input{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #EFF0F6;
    transition: 0.3s ease;
    margin-bottom: 10px;
}
.input:focus,
.input:hover{
    outline: none;
    box-shadow: 0 0 0 4px rgba(244, 218, 190, 0.1);
    border-color: rgba(25, 98, 154, 0.778);
}







.input-text{
    border: 2px solid #EFF0F6;
    line-height: 6ex;
    padding-left: 10px;
    color: rgb(87, 86, 86);
}

.dropdown {
    padding: 12px;
    background: white;
}

.dropdown option {
    height: 30px;
}







.mydict div :focus {
    outline: 0;
    border-color: #203269;
    box-shadow: 0 0 0 4px #97a4ca;
  }
  
  .mydict div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
  }
  
  .mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .mydict input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #052584;
    background-color: #a4b3e1;
    z-index: 1;
    color: #052584;
  }
  
  label span {
    display: block;
    cursor: pointer;
    background-color: #dadce2;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #97a4ca;
    letter-spacing: .05em;
    color: #97a4ca;
    text-align: center;
    transition: background-color .5s ease;
  }
  
  label:first-child span {
    border-radius: .375em 0 0 .375em;
  }
  
  label:last-child span {
    border-radius: 0 .375em .375em 0;
  }
  