<div class="main">
    <div class="title">Notification</div>

    <div>
        <div class="mydict">
            <div>
              <label>
                <input value="001" type="radio" name="radio" checked="">
                <span>English</span>
              </label>
          
              <label>
                <input value="002" type="radio" name="radio">
                <span>Arabic</span>
              </label>
              
            </div>
    </div>

    <div class="row1">
        <div class="forInput">Title<input class="input" type="text" readonly></div>
        <div class="forInput">Body
            <textarea class="input" name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>

<br>

    <div class="row2">
        <select class="input-text dropdown">
            <!-- <option [value]="option" *ngFor="let option of arrayDropDown">{{option}}</option> -->
          </select>
          
    </div>

    <br>

    <div class="row3">
        <button>submit</button>
    </div>

</div>
