<div class="main">
    <div class="title">Payment Info</div>
    <div class="row1">
        <div class="forInput">price<input placeholder={{file_Info.price}} class="input" type="text" readonly></div>
        <div class="forInput">currency<input placeholder={{file_Info.currency}} class="input" type="text" readonly></div>
        <div class="forInput">delivery_DATE<input placeholder={{file_Info.delivery_DATE}} class="input" type="text" readonly></div>
        <div class="forInput">entry_DATE<input placeholder={{file_Info.entry_DATE}} class="input" type="text" readonly></div>
    </div>
</div>
