<div class="main">
    <div class="title">Payment : {{payment_Info.payment_ID}} Info</div>
    <div class="row1">
        <div class="forInput">amount<input placeholder={{payment_Info.amount}} class="input" type="text" readonly></div>
        <div class="forInput">currency<input placeholder={{payment_Info.currency}} class="input" type="text" readonly></div>
        <div class="forInput">payment_METHOD<input placeholder={{payment_Info.payment_METHOD}} class="input" type="text" readonly></div>
        <div class="forInput">entry_DATE<input placeholder={{payment_Info.entry_DATE}} class="input" type="text" readonly></div>
    </div>
</div>
