
 <section>
    <div class="shimmer-table">
        <div class="row">

            <thead class="table_head">
                @for(head of headers; track head){
                    <th>{{head}}</th>
                }
            </thead>

        </div>
<!-- <hr style="color: grey;"> -->

        <table class="table">
            <tbody>
                <tr *ngFor="let row of pagedProducts" class="placeholder-row">
                    <td class="placeholder"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </section>   

