
section {
    background: white;
    overflow-x: auto;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    width: 100%;
    /* box-shadow: 0 0 10px rgba(226, 236, 249, 0.5); */
      .shimmer-table {
        width: 100%;
        border-bottom-left-radius: 15px 20px 20px 20px;
        border-bottom-right-radius: 20px;
        padding: 0 0 10px 0;

        .row{
            width: 100%;
            padding: 20px;
          .table_head{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              th{
                text-transform: capitalize;
              }
          }
        }

          .table{
            width: 100%;
  
            .placeholder-row {
              height: 50px;
              width: 100%;
        
                .placeholder {
                  height: 100%;
                  background: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
                  background-size: 1000px 100%;
                  animation: shimmer 2.5s infinite;
                  margin: 0 10px;
                  width: 100%;
                  position: relative;
                  border-radius: 5px;
                }
       }
     } 
  }
}

  
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
  
    100% {
      background-position: 1000px 0;
    }
  }
  
  @media (max-width: 600px) {
    .placeholder {
      width: 96%;
    }
  }
  
  @media (max-width: 400px) {
    .placeholder {
      width: 94%;
    }
  }
  