<div class="main">

    <div class="title">Details Form : Order {{translation_Info.translation_ORDER_ID}}</div>

    <div class="row1">

        <div class="forInput">Original LANGUAGE<input class="input" placeholder={{translation_Info.original_LANGUAGE}}
                type="text" readonly></div>
        <div class="forInput">Translated LANGUAGE<input placeholder={{translation_Info.translated_LANGUAGE}}
                class="input" type="text" readonly></div>
        <div class="forInput">Source<input placeholder={{translation_Info.source}} class="input" type="text" readonly>
        </div>
        <div class="forInput">Entry Date<input placeholder={{translation_Info.entry_DATE}} class="input" type="text"
                readonly></div>
        <div class="forInput">Delivery DATE<input placeholder={{translation_Info.delivery_DATE}} class="input"
                type="text" readonly></div>

    </div>


</div>