<main>
    <section>

        <!-- Table -->
        <table>
            <!-- table Titles -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Order ID</th>
                    <th class="col-xs-3"> First Name</th>
                    <th class="col-xs-3">Last Name</th>
                    <th class="col-xs-3">Quote Type</th>
                    <th class="col-xs-3">Source Language</th>
                    <th class="col-xs-3">Traget Language</th>
                    <th class="col-xs-3">URL Source</th>
                    <th class="col-xs-3"> Sub Type Name</th>
                </ng-container>
            </tr>

            <!-- table Body -->
            <ng-container *ngIf="editAndProofreadingArray.length > 0; else noRecords">
                <tr *ngFor="let translation of editAndProofreadingArray"
                    (click)="moveToRouteWithIndex('/translation/EditingAndProofreading', translation.translation_ORDER_ID)">
                    <td>{{translation. translation_ORDER_ID}}</td>
                    <td>{{translation. my_USER.first_NAME}}</td>
                    <td>{{translation. my_USER.last_NAME}}</td>
                    <td>{{translation.my_TYPE.type_NAME}}</td>
                    <td>{{translation.original_LANGUAGE }}</td>
                    <td>{{translation.translated_LANGUAGE }}</td>
                    <td>{{translation.source}}</td>
                    <td>{{translation.my_SUB_TYPE.sub_TYPE_NAME}}</td>
                </tr>
            </ng-container>
            <ng-template #noRecords>
                <tr *ngIf="!showShimmer">
                    <td colspan="8" style="text-align: center;">No Records Found</td>
                </tr>
            </ng-template>

        </table>

        <!-- TABLE SHIMMER -->
        <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer>


        <!-- Pagination Component -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)"
            [pageSize]="editAndProofreadingArrayLength">
        </app-pagination>

    </section>
</main>