<main>
    <section>

        <!-- Table -->
        <table>
            <!-- table Titles -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Booking ID</th>
                    <th class="col-xs-3">Customer Name</th>
                    <th class="col-xs-3">Hotel Name</th>
                    <th class="col-xs-3">Check-in Date</th>
                    <th class="col-xs-3">Check-out Date</th>
                    <th class="col-xs-3">Room Type</th>
                    <th class="col-xs-3">Booking Status</th>
                    <th class="col-xs-3">Payment Status</th>
                    <th class="col-xs-3">Total Price</th>
                </ng-container>
            </tr>

            <!-- table Body -->
            <ng-container *ngIf="bookings.length > 0; else noRecords">
                <tr *ngFor="let translation of bookings"
                    (click)="moveToRouteWithIndex('/translation/EditingAndProofreading', translation.bookingID)">
                    <td>{{translation. bookingID}}</td>
                    <td>{{translation.customerName}}</td>
                    <td>{{translation. hotelName}}</td>
                    <td>{{translation.checkInDate}}</td>
                    <td>{{translation.checkOutDate }}</td>
                    <td>{{translation.roomType }}</td>
                    <td>{{translation.bookingStatus}}</td>
                    <td>{{translation.paymentStatus}}</td>
                    <td>{{translation.totalPrice}}$</td>
                </tr>
            </ng-container>
            <ng-template #noRecords>
                <tr *ngIf="!showShimmer">
                    <td colspan="8" style="text-align: center;">No Records Found</td>
                </tr>
            </ng-template>

        </table>

        <!-- TABLE SHIMMER -->
        <!-- <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer> -->


        <!-- Pagination Component -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)"
            [pageSize]="editAndProofreadingArrayLength">
        </app-pagination>

    </section>
</main>