<!-- HEADER : SEACH-BAR + ADD BUTTON -->
<!-- <mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="header">

      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput placeholder="Search Admin..." (keyup)="APPLY_SEARCH_FILTER($any($event.target).value)">
          <mat-icon matPrefix class="op-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
              width="24px" fill="#5f6368">
              <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
            </svg>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="OPEN_DIALOG('Add', ADDED_ADMIN)" color="primary">
          Add Admin
        </button>
      </div>

    </div>
  </mat-card-content>
</mat-card> -->

<mat-card class="cardWithShadow">
  <mat-expansion-panel [expanded]="open_expansion_value === 1" (opened)="OPEN_PANEL()" (closed)="CLOSE_PANEL()">
    <mat-expansion-panel-header>
      <mat-panel-title class="f-w-600 mat-body-1 currentAction">{{CurrentAction}}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>

      <!-- FIRST ROW :  name + country + note -->
      @if(CurrentAction == 'Add Admin'){
      <div class="row">

        <!-- FIRST_NAME-->
        <div class="col-md-2 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">First-Name</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="First-Name" [(ngModel)]="ADDED_ADMIN.firstname"
              (ngModelChange)="onInputChange()" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
              </svg>

            </mat-icon>
          </mat-form-field>
        </div>

        <!-- LAST_NAME-->
        <div class="col-md-2 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Last-Name</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Last-Name" [(ngModel)]="ADDED_ADMIN.lastname"
              (ngModelChange)="onInputChange()" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- PHONE-NB -->
        <div class="col-md-2 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Phone-Nb</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Phone-Nb" [(ngModel)]="ADDED_ADMIN.phone" (ngModelChange)="onInputChange()" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- EMAIL -->
        <div class="col-md-3 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Email</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Email" [(ngModel)]="ADDED_ADMIN.email" (ngModelChange)="onInputChange()"/>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- PASSWORD -->
          <div class="col-md-3 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Password</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Password" [(ngModel)]="ADDED_ADMIN.password" (ngModelChange)="onInputChange()"/>
              <mat-icon matPrefix class="op-5">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M280-400q-33 0-56.5-23.5T200-480q0-33 23.5-56.5T280-560q33 0 56.5 23.5T360-480q0 33-23.5 56.5T280-400Zm0 160q-100 0-170-70T40-480q0-100 70-170t170-70q67 0 121.5 33t86.5 87h352l120 120-180 180-80-60-80 60-85-60h-47q-32 54-86.5 87T280-240Zm0-80q56 0 98.5-34t56.5-86h125l58 41 82-61 71 55 75-75-40-40H435q-14-52-56.5-86T280-640q-66 0-113 47t-47 113q0 66 47 113t113 47Z"/></svg>
              </mat-icon>
            </mat-form-field>
          </div>
    
      </div>
      }

      @else {
        <div class="row">

          <!-- FIRST_NAME-->
          <div class="col-md-3 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">First-Name</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="First-Name" [(ngModel)]="ADDED_ADMIN.firstname"
                (ngModelChange)="onInputChange()" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                </svg>
  
              </mat-icon>
            </mat-form-field>
          </div>
  
          <!-- LAST_NAME-->
          <div class="col-md-3 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Last-Name</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Last-Name" [(ngModel)]="ADDED_ADMIN.lastname"
                (ngModelChange)="onInputChange()" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>
  
          <!-- PHONE-NB -->
          <div class="col-md-3 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Phone-Nb</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Phone-Nb" [(ngModel)]="ADDED_ADMIN.phone" (ngModelChange)="onInputChange()" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>
  
          <!-- EMAIL -->
          <div class="col-md-3 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Email</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Email" [(ngModel)]="ADDED_ADMIN.email" (ngModelChange)="onInputChange()"/>
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>
      
        </div>
      }

      <!-- SECOND ROW :  sell + type + status -->
      <h3 class="currentAction">Permissions</h3>
      <div class="row">
        <!-- Accounting -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Accounting</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Accounting" [(ngModel)]="ADDED_ADMIN.permissions.accounting">
              @for(type of permissions; track type) {
              <mat-option value={{type.value}}>{{type.name}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- Notes -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Notes</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Notes" [(ngModel)]="ADDED_ADMIN.permissions.notes">
              @for(type of permissions; track type) {
              <mat-option value={{type.value}}>{{type.name}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- Packages -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center"><mat-label
              class="mat-subtitle-2 f-w-600 d-block m-b-16">Packages</mat-label></div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Packages" [(ngModel)]="ADDED_ADMIN.permissions.packages">
              @for(type of permissions; track type) {
              <mat-option value={{type.value}}>{{type.name}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- Recruitment -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Recruitment</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Recruitment" [(ngModel)]="ADDED_ADMIN.permissions.recruitment">
              @for(type of permissions; track type) {
              <mat-option value={{type.value}}>{{type.name}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- Users -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Users</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Users" [(ngModel)]="ADDED_ADMIN.permissions.users">
              @for(type of permissions; track type) {
              <mat-option value={{type.value}}>{{type.name}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- Visa -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Visa</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Visa" [(ngModel)]="ADDED_ADMIN.permissions.visa">
              @for(type of permissions; track type) {
              <mat-option value={{type.value}}>{{type.name}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

      </div>

      <div class="Buttons_div">
        <div *ngIf="ShowAddButoon">
          <button mat-flat-button color="primary" (click)="ADD_ADMIN(ADDED_ADMIN)" [disabled]="SHOW_LOADING_SPINNER">
            <span *ngIf="!SHOW_LOADING_SPINNER">Update Admin</span>
            <mat-spinner diameter="20" *ngIf="SHOW_LOADING_SPINNER"></mat-spinner>
          </button>
        </div>

        <div class="TwoButtons" *ngIf="!ShowAddButoon">
          <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>
          <!-- <button mat-flat-button color="primary" (click)="UPDATE_ADMIN()">Update Admin</button> -->
          <button mat-flat-button color="primary" (click)="UPDATE_ADMIN()" [disabled]="SHOW_LOADING_SPINNER">
            <span *ngIf="!SHOW_LOADING_SPINNER">Update Admin</span>
            <mat-spinner diameter="20" *ngIf="SHOW_LOADING_SPINNER"></mat-spinner>
          </button>    
        </div>
      </div>

    </mat-card-content>
  </mat-expansion-panel>
</mat-card>

<!-- BODY : TABLE -->
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">

    @if(show_shimmer){
    <app-table-shimmer [headers]="displayedColumns" [ROWS_COUNT]="ROWS_COUNT_SHIMMER"></app-table-shimmer>
    }

    @else{
    <div class="table-responsive">
      <table mat-table [dataSource]="ADMINS_ARRAY" class="w-100">
        <!-- First Name Column -->
        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">First Name</th>
          <td mat-cell *matCellDef="let admin" class="f-s-14">{{ admin.firstname }}</td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Last Name</th>
          <td mat-cell *matCellDef="let admin" class="f-s-14">{{ admin.lastname }}</td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">email</th>
          <td mat-cell *matCellDef="let admin" class="f-s-14">{{ admin.email }}</td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">phone</th>
          <td mat-cell *matCellDef="let admin" class="f-s-14">{{ admin.phone }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Action</th>
          <td mat-cell *matCellDef="let admin" class="action-link">
            <a (click)="SELECTED_ADMIN(admin)" class="m-r-10 cursor-pointer">
              <i-tabler name="edit" class="icon-18"></i-tabler>
            </a>
            <a (click)="OPEN_DIALOG('Delete', admin)" class="m-r-10 cursor-pointer">
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      @if(ADMINS_ARRAY.filteredData.length===0 && !show_shimmer){
      <app-no-items-found></app-no-items-found>
      }
    </div>


    }

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>