.cardWithShadow{
    .p-24 {
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.table-responsive {
    table {
        th, td, td span {
            cursor: pointer;
            font-size: 14px;
        }
    }
  
  }
  
  th{
      text-align: center;
  }
  
  td{
      text-align: center;
  }
  
  .element-td {
    div {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;
        justify-content: center;
    }
    a {
        cursor: pointer;
    }
  }
  
  .cardWithShadow {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 5px;
    }
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  

  @media (max-width: 600px) {
    .cardWithShadow{
        .p-24 {
            .header {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
        }
    }
  }
  