<main>
    <section>
        
        <!-- TABLE -->
        <table>

            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Record ID</th>
                    <th class="col-xs-3">Name</th>
                    <th class="col-xs-3">Destination</th>
                    <th class="col-xs-3">Travel/Application Date</th>
                    <th class="col-xs-3">Package/Visa Type</th>
                    <th class="col-xs-3">Accommodation Details/Visa Status</th>
                    <th class="col-xs-3">Activities/Passport Number</th>
                    <th class="col-xs-3">Total Cost/Visa Fees</th>
                    <th class="col-xs-3">Status</th>
                </ng-container>
                
            </tr>

            <!-- TABLE BODY -->
            <tr *ngFor="let translation of tourismVisaRecords"
                (click)="moveToRouteWithIndex('/translation/websiteTranslation', translation. recordID)">
                <td>{{translation. recordID}}</td>
                <td>{{translation.name}}</td>
                <td>{{translation.destination}}</td>
                <td>{{translation.travelOrApplicationDate}}</td>
                <td>{{translation.packageOrVisaType}}</td>
                <td>{{translation.accommodationOrVisaStatus}}</td>
                <td>{{translation.activitiesOrPassportNumber}}</td>
                <td>{{translation.totalCostOrVisaFees}}$</td>
                <td class="status-values"
                    [ngClass]="{'Completed-class': translation.status === 'Confirmed','InProgress-class': translation.status === 'Approved','DECLINED-class': translation.status === 'DECLINED','pending-class': translation.status === 'Pending'}">
                    <p>{{translation.status}}</p>
                </td>
            </tr>

        </table>

        <!-- TABLE SHIMMER -->
        <!-- <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer> -->

        <!-- TABLE PAGING -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)"
            [pageSize]="webTranslationArrayLength">
        </app-pagination>

    </section>
</main>