.button-Blue {
  background-color: #1677ff;
  color: white;
  padding: 9px 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-Blue:hover {
  background-color: #1677ff;
}

@media (max-width: 625px) {
  .button-Blue {
    font-size: 14px;
    padding: 7px 11px;
  }
}

.button-green {
  background-color: #41ab0c;
  color: white;
  padding: 9px 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-green:hover {
  background-color: #4dbb16;
}

@media (max-width: 625px) {
  .button-green {
    font-size: 14px;
    padding: 7px 11px;
  }
}
