.main{
    width: 95%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(26, 26, 26, 0.1);
    padding: 20px 40px;
    border-radius: 20px;
    margin: 0 auto 50px;
}

.title{
    font-size: 25px;
    font-weight: 600;
    color: #203269;
    margin-bottom: 40px;
}

.row1{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.row3{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.row3 .submit {
    border-radius: 5px;
    border-style: none;
    color: white;
    background: #203269;
    padding: 10px 15px;
}
.row3 .submit-disable{
    border-radius: 5px;
    border-style: none;
    color: white;
    background: #20326971;
    padding: 10px 15px;
}


.forInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000000B2;
    width:100%;
    font-weight: 600;
    font-size: 16px;
}

.input{
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #EFF0F6;
    transition: 0.3s ease;
    margin-bottom: 10px;
}
.input:focus,
.input:hover{
    outline: none;
    box-shadow: 0 0 0 4px rgba(244, 218, 190, 0.1);
    border-color: rgba(25, 98, 154, 0.778);
}

.loader {
    width: 18px;
    height: 18px;
    border: 3px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }