<div class="main">
    <!-- <div class="title">View User</div> -->

    <div>

    <div class="row1">
        <div class="forInput">Transactoin Id<input class="input" type="number"  [(ngModel)]="editedPayment.payment_ID" (ngModelChange)="comparePayments()" readonly></div>
        <div class="forInput">Payment Method<input class="input" type="text" [(ngModel)]="editedPayment.payment_METHOD" (ngModelChange)="comparePayments()" readonly></div>
        <div class="forInput">Entry Date<input class="input" type="text" [(ngModel)]="editedPayment.entry_DATE" (ngModelChange)="comparePayments()" readonly></div>
        <div class="forInput">Creation Time<input class="input" type="text" [(ngModel)]="editedPayment.time_CREATION" (ngModelChange)="comparePayments()" readonly></div>
        <div class="forInput">userId<input class="input" type="number" [(ngModel)]="editedPayment.user_ID" (ngModelChange)="comparePayments()" readonly></div>
 
    </div>

<br><br>

    <div class="row3">
        <button class="submit" (click)="back()">Go back</button>
        <!-- <button class="submit"  [disabled]="!paymentChanged" [ngClass]="{'submit': paymentChanged, 'submit-disable': !paymentChanged}" (click)="Edit()">
            <span *ngIf="!isEditing" >Update</span>
            <span *ngIf="isEditing" class="loader"></span>
        </button> -->
    </div>

</div>
