<div class="main">
    <!-- <div class="title">View User</div> -->

    <div>

    <div class="row1">
        <div class="forInput">Transactoin Id<input class="input" type="text" ></div>
        <div class="forInput">Payment Method<input class="input" type="text"></div>
        <div class="forInput">Entry Date<input class="input" type="text"></div>
        <div class="forInput">Creation Time<input class="input" type="text"></div>
        <div class="forInput">userId<input class="input" type="text"></div>
 
    </div>

<br><br>

    <div class="row3">
        <button class="submit">Update</button>
    </div>

</div>
