
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    margin: 5px;
}

.mat-expansion-panel-header:not([aria-disabled=true]){
    background: #ffffff;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background: #ffffff;
} 

.mat-expansion-panel .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused{
    background: #ffffff;
}
.mat-expansion-panel-header {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 80px;
    padding: 30px 24px;
    border-radius: inherit;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    height: var(--mat-expansion-header-collapsed-state-height);
    font-family: var(--mat-expansion-header-text-font);
    font-size: var(--mat-expansion-header-text-size);
    font-weight: var(--mat-expansion-header-text-weight);
    line-height: var(--mat-expansion-header-text-line-height);
    letter-spacing: var(--mat-expansion-header-text-tracking);
}


.cardWithShadow {

    .currentAction {
        color: #ebb31bfb;
        font-size: 16px;
    }
    
    .Buttons_div {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;

        .TwoButtons {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            border-style: none;
            padding: 10px;
            border-radius: 10px;
            color: white;
        }


    }
}

// SECOND CARD : TABLE
.cardWithShadow {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 5px;

        .filter-date {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
    
            .date_picker {
                width: 100%;
                height: fit-content;
            }
    
            .dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .table-responsive {
    table {

        th, td {
            cursor: pointer;
            font-size: 14px;
        }

        .details-container {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: flex-start;
            justify-content: flex-start;
            border: 1px solid #dee2e6;
            padding: 10px;
            width: 100%;
        
            .detail-body {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
        
                .col-md-4 {
                    .detail-field {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        
            .invoice-btn-div {
                .invoice-btn {
                    background-color: #ebb31bfb;
                    border-style: none;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                }
        
                .invoice-btn:hover {
                    cursor: pointer;
                    background-color: #f0cb65fb;
                    color: rgb(7, 42, 107);
                }
            }
        }
    }
}
}

tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}



@media (max-width: 600px) {
    .cardWithShadow {
        header {
            display: flex;
            flex-direction: column;

            .searchbar {
                margin: 10px 20px 0 20px;
            }

            .filter-date {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }
}