<div class="main">
    <div class="title">View User</div>

    <div>

    <div class="row1">
        <div class="forInput">First Name<input class="input" type="text" *ngIf="selectedUser" [(ngModel)]="selectedUser.first_NAME" readonly></div>
        <div class="forInput">Last Name<input class="input" type="text" [(ngModel)]="selectedUser.last_NAME" readonly></div>

        <!-- <div class="forInput">Phone number
            <textarea class="input" name="" id="" cols="30" rows="10"></textarea>
        </div> -->
        <div class="forInput">Email<input class="input" type="text" [(ngModel)]="selectedUser.email" readonly></div>
    </div>

<br>


    <br>

    <div class="row3">
        <button class="submit">Go back</button>
    </div>

</div>
