<div class="main">
    <div class="title">View User</div>

    <div>

    <div class="row1">
        <div class="forInput">First Name<input class="input" type="text"  [(ngModel)]="editedUser.first_NAME" (ngModelChange)="compareUsers()"></div>
        <div class="forInput">Last Name<input class="input" type="text" [(ngModel)]="editedUser.last_NAME" (ngModelChange)="compareUsers()"></div>
        <div class="forInput">Username<input class="input" type="text" [(ngModel)]="editedUser.username" (ngModelChange)="compareUsers()"></div>
        <div class="forInput">Email<input class="input" type="text" [(ngModel)]="editedUser.email" (ngModelChange)="compareUsers()"></div>
    </div>

<br>
    <br>

    <div class="row3">
        <button class="submit" (click)="back()">Go back</button>
        <button [disabled]="!userChanged" [ngClass]="{'submit': userChanged, 'submit-disable': !userChanged}" (click)="editUser()">
            <span *ngIf="!isEditing" >Save</span>
            <span *ngIf="isEditing" class="loader"></span>
        </button>
    </div>

</div>

