<main>
    <section>
        <!-- TABLE -->
        <table>
            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Record ID</th>
                    <th class="col-xs-3">Description</th>
                    <th class="col-xs-3">Amount</th>
                    <th class="col-xs-3">Date</th>
                    <th class="col-xs-3">Account Type</th>
                    <th class="col-xs-3">Status</th>
                    <th class="col-xs-3">Note</th>
                </ng-container>
            </tr>

            <!-- TABLE BODY -->
            <tr *ngFor="let acc of AccountingArray">
                <td>{{acc.record_id}}</td>
                <td>{{acc.description}}</td>
                <td>{{acc.amount}}</td>
                <td>{{acc.date}}</td>
                <td>{{acc.account_type}}</td>
                <td>{{acc.status}}</td>
                <td>{{acc.note}}</td>
            </tr>

        </table>
        <!-- TABLE SHIMMER -->
        <!-- <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer> -->
    </section>
    <!-- TABLE PAGING -->
    <!-- <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)" [pageSize]="ArrayLength">
    </app-pagination> -->
</main>