<main>
    <section>
        <!-- TABLE -->
        <table>
            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Record ID</th>
                    <th class="col-xs-3">Description</th>
                    <th class="col-xs-3">Amount</th>
                    <th class="col-xs-3">Date</th>
                    <th class="col-xs-3">Account Type</th>
                    <th class="col-xs-3">Status</th>
                    <th class="col-xs-3">Note</th>
                </ng-container>
            </tr>

            <!-- TABLE BODY -->
            <tr>
                <td>Data 1-1</td>
                <td>Data 1-2</td>
                <td>Data 1-3</td>
                <td>Data 1-4</td>
                <td>Data 1-5</td>
                <td>Data 1-6</td>
                <td>Data 1-7</td>
            </tr>

        </table>
        <!-- TABLE SHIMMER -->
        <!-- <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer> -->
    </section>
    <!-- TABLE PAGING -->
    <!-- <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)" [pageSize]="ArrayLength">
    </app-pagination> -->
</main>