<!-- add expand row -->
<mat-card class="cardWithShadow">
  <mat-expansion-panel 
  [expanded]="open_expansion_value === 1"
  (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">

      <mat-expansion-panel-header>
        <mat-panel-title class="f-w-600 mat-body-1 currentAction">{{CurrentAction}}</mat-panel-title>
      </mat-expansion-panel-header>


    <mat-card-content>

      <!-- FIRST ROW :  name + country + note -->
      <div class="row">

        <!-- Visa NAME -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Name</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Name" [(ngModel)]="ADDED_VISA.name" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- country-->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Country</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Country" [(ngModel)]="ADDED_VISA.country" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>
        <!-- note-->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Note</mat-label>
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Note" [(ngModel)]="ADDED_VISA.note" />
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- SECOND ROW :  sell + type + status -->
      <div class="row">

        <!-- Sell -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Sell</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Sell" [(ngModel)]="ADDED_VISA.sell" type="number" min="0">
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path
                  d="M441-120v-86q-53-12-91.5-46T293-348l74-30q15 48 44.5 73t77.5 25q41 0 69.5-18.5T587-356q0-35-22-55.5T463-458q-86-27-118-64.5T313-614q0-65 42-101t86-41v-84h80v84q50 8 82.5 36.5T651-650l-74 32q-12-32-34-48t-60-16q-44 0-67 19.5T393-614q0 33 30 52t104 40q69 20 104.5 63.5T667-358q0 71-42 108t-104 46v84h-80Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- TYPE -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Type</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Type" [(ngModel)]="ADDED_VISA.type">
              @for(type of VisaType; track type) {
              <mat-option value={{type.value}}>{{type.viewValue}}</mat-option>
              }

            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z"/></svg>
            </mat-icon>
          </mat-form-field>
        </div>

        <!-- STATUS -->
        <div class="col-md-4 d-flex flex-column">
          <div class="d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Status</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select placeholder="Pending" [(ngModel)]="ADDED_VISA.status">
              @for(status of Status_Array; track status) {
                <mat-option value={{status.value}}>{{status.viewValue}}</mat-option>
                }
            </mat-select>
            <mat-icon matPrefix class="op-5">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                fill="#5f6368">
                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17
                        0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83
                        31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5
                        156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93
                        227q0 134 93 227t227 93Zm0-320Z" />
              </svg>
            </mat-icon>
          </mat-form-field>
        </div>

      </div>

      <div class="Buttons_div">
        <div *ngIf="ShowAddButoon">
          <button mat-flat-button color="primary" (click)="ADD_VISA(ADDED_VISA)"> Add Visa </button>
        </div>

        <div class="TwoButtons" *ngIf="!ShowAddButoon">
          <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>
          <button mat-flat-button color="primary" (click)="UPDATE_VISA(ADDED_VISA)">Update Visa</button>
        </div>
      </div>
    </mat-card-content>

  </mat-expansion-panel>
</mat-card>


<mat-card class="cardWithShadow">
  <!-- Search -->
  <header>

    <div class="searchbar p-20">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Search Visa..." aria-label="Product"
          (keyup)="APPLY_SEARCH_FILTER($any($event.target).value)">
        <mat-icon matPrefix class="op-5">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
            width="24px" fill="#5f6368">
            <path
              d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
          </svg>
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="filter-date">

      @if(showDatePicker) {
      <mat-form-field appearance="outline" class="date_picker">

        <mat-date-range-input [rangePicker]="custompicker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="custompicker"></mat-datepicker-toggle>
        <mat-date-range-picker #custompicker></mat-date-range-picker>

      </mat-form-field>
      }

      <div class="dropdown">
        <mat-form-field class="theme-select" appearance="outline">
          <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onChange($event.value, 'month')"
            placeholder="Today">
            <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="dropdown">
        <mat-form-field class="theme-select" appearance="outline">
          <mat-select [(ngModel)]="selectedStatusFilteraTION" (selectionChange)="onChange($event.value, 'status')"
            placeholder="All">
            <mat-option *ngFor="let element of Status_Array" [value]="element.value">{{ element.viewValue
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

  </header>

  <!-- Table -->
  <mat-card-content>

    <!-- TABLE BODY -->
    <div class="table-responsive">
      <table mat-table [dataSource]="VisaArray" multiTemplateDataRows>
        @for( column of displayedColumns; track column) {

        <ng-container matColumnDef="{{ column }}">

          <!-- table headers -->
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0">
            {{ column | titlecase}}</th>

            @if(!no_visas_found){
                        <!-- table Data -->
          <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0"
          (click)=" EXPAND_ROW($event, element, column)">

          <!-- display row objects -->
          <ng-container *ngIf="column !== 'status'; else statusColumn">
            <ng-container *ngIf="column !== 'action'; else actionColumn">
              <ng-container *ngIf="column !== 'createdAt'; else dateColumn">
                <ng-container *ngIf="column !== 'note'; else noteColumn">
                  {{ element[column] }}
                </ng-container>
              </ng-container>
            </ng-container>


          </ng-container>

          <ng-template #dateColumn>{{ FORMAT_DATE(element[column]) }}</ng-template>
          <ng-template #noteColumn>{{ truncateText(element[column], 30) }}</ng-template>
          <!-- SHOW ACTION TEMPLATE -->
          <ng-template #actionColumn>
            <div class="action-link">
              <a (click)="SELECTED_VISA(element)" class="m-r-10 cursor-pointer"><i-tabler name="edit"
                  class="icon-18"></i-tabler></a>
              <a (click)="OPEN_DIALOG('delete', element)" class="m-r-10 cursor-pointer"><i-tabler name="trash"
                  class="icon-18"></i-tabler></a>
            </div>
          </ng-template>
          <!--IF THE COLUMN IS STATUS THEM APPLY SPECIFIC DESIGN-->
          <ng-template #statusColumn><span [ngClass]="GET_STATUS_CLASS(element.status)">{{ element.status
              }}</span></ng-template>

        </td>
            }

            @else {
                <td mat-cell class="p-x-24 f-s-14 p-l-0">  
                  <ng-container>
                    no visas found
                  </ng-container> 
                </td>

            }


        </ng-container>
        

        }

        <!-- EXPANDED ROW DETAILS -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <div class="details-container p-3 rounded border mb-3 mx-2">

                <div class="detail-body mt-3">
                  <div class="col-md-4">
                    <div class="detail-field"><strong>name:</strong> {{ element.name }}</div>
                    <div class="detail-field"><strong>country:</strong> {{ element.country }}</div>
                    <div class="detail-field"><strong>destination:</strong> {{ element.destination }}</div>
                  </div>
                  <div class="col-md-4">
                    <div class="detail-field"><strong>type:</strong> {{ element.type }}</div>
                    <div class="detail-field"><strong>price:</strong> {{ element.price }}</div>
                    <div class="detail-field"><strong>sell:</strong> {{ element.sell }}</div>
                  </div>
                  <div class="col-md-4">
                    <div class="detail-field"><strong>status:</strong> {{ element.status }}</div>
                    <div class="detail-field"><strong>createdAt:</strong> {{ element.createdAt }}</div>
                    <div class="detail-field"><strong>updatedAt:</strong> {{ element.updatedAt }}</div>
                  </div>
                </div>

                <div class="invoice-btn-div">
                  <button class="invoice-btn">Print invoice</button>
                </div>

              </div>
            </div>
          </td>
        </ng-container>


        <!-- HEADER AND ROW DEFINITIONS -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)=" expandedElement = expandedElement === element ? null : element;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" [length]="Visa_Array_length" [pageSize]="pageSize"
      aria-label="Select page" showFirstLastButtons (page)="onPageChange($event)">
    </mat-paginator>

  </mat-card-content>

</mat-card>