<!-- listing and total no.of counts -->
<div class="four-sections-header">

  <div class="two-sections-header">
    <div>
      <mat-card class="shadow-none">
        <div class="bg-light-primary text-center rounded" (click)="FILTER_ARRAY_BY_STATUS('')">
          <h3 class="text-primary">{{ totalCount }}</h3>
          <p class="text-primary">Total Packages</p>
        </div>
      </mat-card>
    </div>

    <div>
      <mat-card class="shadow-none">
        <div class="bg-light-warning text-center rounded" (click)="FILTER_ARRAY_BY_STATUS('pending')">
          <h3 class="text-warning">{{ Inprogress }}</h3>
          <p class="text-warning">Pending</p>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="two-sections-header">
    <div>
      <mat-card class="shadow-none">
        <div class="bg-light-success text-center rounded" (click)="FILTER_ARRAY_BY_STATUS('approved')">
          <h3 class="text-success">{{ Completed }}</h3>
          <p class="text-success">Completed</p>
        </div>
      </mat-card>
    </div>

    <div>
      <mat-card class="shadow-none">
        <div class="bg-light-error text-center rounded" (click)="FILTER_ARRAY_BY_STATUS('rejected')">
          <h3 class="text-error">{{ Cancelled }}</h3>
          <p class="text-error">Rejected</p>
        </div>
      </mat-card>
    </div>
  </div>

</div>


<mat-card class="cardWithShadow">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="{{CurrentAction}}">
      <mat-card-content>

        <!-- FIRST ROW :  name + country + note -->
        <div class="row">

          <!-- Visa NAME -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Name</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="NAME" [(ngModel)]="ADDED_VISA.name" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>

          <!-- country-->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">country</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="country" [(ngModel)]="ADDED_VISA.country" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>
          <!-- note-->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">note</mat-label>
            </div>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="note" [(ngModel)]="ADDED_VISA.note" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>
        </div>

        <!-- SECOND ROW :  sell + type + status -->
        <div class="row">

          <!-- Sell -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Sell</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Search sell..." aria-label="Product" [(ngModel)]="ADDED_VISA.sell">
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
                  width="24px" fill="#5f6368">
                  <path
                    d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>

          <!-- type -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">type</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="type" [(ngModel)]="ADDED_VISA.type" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M441-120v-86q-53-12-91.5-46T293-348l74-30q15 48 44.5 73t77.5 25q41 0 69.5-18.5T587-356q0-35-22-55.5T463-458q-86-27-118-64.5T313-614q0-65 42-101t86-41v-84h80v84q50 8 82.5 36.5T651-650l-74 32q-12-32-34-48t-60-16q-44 0-67 19.5T393-614q0 33 30 52t104 40q69 20 104.5 63.5T667-358q0 71-42 108t-104 46v84h-80Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>

          <!-- status -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">status</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="status" [(ngModel)]="ADDED_VISA.status" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M760-400v-260L560-800 360-660v60h-80v-100l280-200 280 200v300h-80ZM560-800Zm20 160h40v-40h-40v40Zm-80 0h40v-40h-40v40Zm80 80h40v-40h-40v40Zm-80 0h40v-40h-40v40ZM280-220l278 76 238-74q-5-9-14.5-15.5T760-240H558q-27 0-43-2t-33-8l-93-31 22-78 81 27q17 5 40 8t68 4q0-11-6.5-21T578-354l-234-86h-64v220ZM40-80v-440h304q7 0 14 1.5t13 3.5l235 87q33 12 53.5 42t20.5 66h80q50 0 85 33t35 87v40L560-60l-280-78v58H40Zm80-80h80v-280h-80v280Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>

        </div>

        <!-- FIRST ROW :  createdAt + country + note -->
        <div class="row">

          <!--createdAt -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">createdAt</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="createdAt" [(ngModel)]="ADDED_VISA.createdAt" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>

          <!-- updatedAt-->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">updatedAt</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="updatedAt" [(ngModel)]="ADDED_VISA.updatedAt" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>
          <!-- note-->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">note</mat-label>
            </div>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="note" [(ngModel)]="ADDED_VISA.note" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="Buttons_div">
          <div *ngIf="ShowAddButoon">
            <button mat-flat-button color="primary" (click)="ADD_VISA(ADDED_VISA)"> Add Visa </button>
          </div>

          <div class="TwoButtons" *ngIf="!ShowAddButoon">
            <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>
            <button mat-flat-button color="primary" (click)="UPDATE_VISA(ADDED_VISA)">Update Visa</button>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>


<!-- ADD OR UPDATE -->
<!-- <mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="InputsWholeRow">

      <div class="inputsInAdd">
  
        <section>
          <div><input type="text" [(ngModel)]="ADDED_VISA.name" placeholder=""Name></div>
          <div><input type="text" [(ngModel)]="ADDED_VISA.country" placeholder="country"></div>
        </section>
        
        <section>
          <div><input type="text" [(ngModel)]="ADDED_VISA.destination" placeholder="Destination"></div>
          <div><input type="text" [(ngModel)]="ADDED_VISA.sell" placeholder="Sell"></div>
        </section>
        
        <section>
          <div><input type="text" [(ngModel)]="ADDED_VISA.type" placeholder="Type"></div>
          <div><input type="text" [(ngModel)]="ADDED_VISA.price" placeholder="Price"></div>
        </section>

        <section>
          <div><input type="text" [(ngModel)]="ADDED_VISA.note" placeholder="Note"></div>
          
          <div>
          <select [(ngModel)]="ADDED_VISA.status">
            <option value="pending">Pending</option>
            <option value="approved">Approved</option>
            <option value="rejected">Rejected</option>
          </select>
          </div>
        </section>


      </div>

      <div *ngIf="ShowAddButoon">
        <button mat-flat-button color="primary" (click)="ADD_VISA(ADDED_VISA)"> Add Visa </button>
      </div>

      <div class="TwoButtons" *ngIf="!ShowAddButoon">
        <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>
        <button mat-flat-button color="primary" (click)="UPDATE_VISA(ADDED_VISA)">Update</button>
      </div>

    </div>
  </mat-card-content>
</mat-card> -->

<mat-card class="cardWithShadow">

  <!-- Search -->
  <header>

    <div class="searchbar">
      <mat-form-field appearance="outline" class="hide-hint custom-search ">
        <input matInput (keyup)="APPLY_SEARCH_FILTER($any($event.target).value)" placeholder="Search Visa's" />
        <mat-icon matSuffix>
          <i-tabler name="search" class="icon-15"></i-tabler>
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="filter-date">

      @if(showDatePicker) {
      <mat-form-field appearance="outline" class="date_picker">

        <mat-date-range-input [rangePicker]="custompicker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="custompicker"></mat-datepicker-toggle>
        <mat-date-range-picker #custompicker></mat-date-range-picker>

      </mat-form-field>
      }

      <div class="dropdown">
        <mat-form-field class="theme-select" appearance="outline">
          <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onChange($event.value)" placeholder="Today">
            <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>

  </header>

  <!-- Table -->
  <mat-card-content>

    <!-- TABLE BODY -->
    <div class="table-responsive">
      <table mat-table [dataSource]="VisaArray" multiTemplateDataRows>
        @for( column of displayedColumns; track column) {

        <ng-container matColumnDef="{{ column }}">

          <!-- table headers -->
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0">{{ column | titlecase
            }}</th>

          <!-- table Data -->
          <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0"
            (click)=" EXPAND_ROW($event, element, column)">

            <!-- display row objects -->
            <ng-container *ngIf="column !== 'status'; else statusColumn">
              <ng-container *ngIf="column !== 'action'; else actionColumn">
                <!-- {{ element[column] }} -->
                <ng-container *ngIf="column !== 'note'; else noteColumn">
                  {{ element[column] }}
                </ng-container>
              </ng-container>


            </ng-container>

            <ng-template #noteColumn>{{ truncateText(element[column], 15) }}</ng-template>
            <!-- SHOW ACTION TEMPLATE -->
            <ng-template #actionColumn>
              <div class="action-link">
                <a (click)="SELECTED_VISA(element)" class="m-r-10 cursor-pointer"><i-tabler name="edit"
                    class="icon-18"></i-tabler></a>
                <a (click)="DELETE_VISA(element._id)" class="m-r-10 cursor-pointer"><i-tabler name="trash"
                    class="icon-18"></i-tabler></a>
              </div>
            </ng-template>
            <!--IF THE COLUMN IS STATUS THEM APPLY SPECIFIC DESIGN-->
            <ng-template #statusColumn><span [ngClass]="GET_STATUS_CLASS(element.status)">{{ element.status
                }}</span></ng-template>

          </td>

        </ng-container>

        }

        <!-- EXPANDED ROW DETAILS -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <div class="details-container p-3 rounded border mb-3 mx-2">

                <div class="detail-body mt-3">
                  <div class="col-md-4">
                    <div class="detail-field"><strong>name:</strong> {{ element.name }}</div>
                    <div class="detail-field"><strong>country:</strong> {{ element.country }}</div>
                    <div class="detail-field"><strong>destination:</strong> {{ element.destination }}</div>
                  </div>
                  <div class="col-md-4">
                    <div class="detail-field"><strong>type:</strong> {{ element.type }}</div>
                    <div class="detail-field"><strong>price:</strong> {{ element.price }}</div>
                    <div class="detail-field"><strong>sell:</strong> {{ element.sell }}</div>
                  </div>
                  <div class="col-md-4">
                    <div class="detail-field"><strong>status:</strong> {{ element.status }}</div>
                    <div class="detail-field"><strong>createdAt:</strong> {{ element.createdAt }}</div>
                    <div class="detail-field"><strong>updatedAt:</strong> {{ element.updatedAt }}</div>
                  </div>
                </div>

                <div class="invoice-btn-div">
                  <button class="invoice-btn">Print invoice</button>
                </div>

              </div>
            </div>
          </td>
        </ng-container>


        <!-- HEADER AND ROW DEFINITIONS -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)=" expandedElement = expandedElement === element ? null : element;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

  </mat-card-content>

</mat-card>