
.mat-mdc-card-content:last-child {
    padding-bottom: 10px;
}

.light-theme .mat-mdc-card-header {
    padding: 0px;
}

#pdfContent {
    width: 100%;
    background-color: #fff;
    padding: 20px;
  }
  