<div class="main">
    <div class="title">User Info</div>
    <div class="row1">

        <div class="forInput">First Name<input placeholder={{user_Info.first_NAME}}  class="input" type="text" readonly></div>
        <div class="forInput">Last Name<input placeholder={{user_Info.last_NAME}}  class="input" type="text" readonly></div>
        <div class="forInput">Username<input placeholder={{user_Info.username}}  class="input" type="text" readonly></div>
        <div class="forInput">Email<input placeholder={{user_Info.email}}  class="input" type="text" readonly></div>
    </div>
</div>
