.cardWithShadow {

    .currentAction {
        color: #ebb31bfb;
        font-size: 16px;
    }
    
    .Buttons_div {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;

        .TwoButtons {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            border-style: none;
            padding: 10px;
            border-radius: 10px;
            color: white;
        }


    }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    margin: 5px;
}

.mat-expansion-panel-header:not([aria-disabled=true]){
    background: #ffffff;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background: #ffffff;
} 

.mat-expansion-panel .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused{
    background: #ffffff;
}
.mat-expansion-panel-header {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 80px;
    padding: 30px 24px;
    border-radius: inherit;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    height: var(--mat-expansion-header-collapsed-state-height);
    font-family: var(--mat-expansion-header-text-font);
    font-size: var(--mat-expansion-header-text-size);
    font-weight: var(--mat-expansion-header-text-weight);
    line-height: var(--mat-expansion-header-text-line-height);
    letter-spacing: var(--mat-expansion-header-text-tracking);
}





.fixed-option {
    position: sticky;
    bottom: 0;
    background: rgb(224, 224, 224); /* Ensure the background matches the menu */
    z-index: 1; /* Make sure it stays on top */
    }
    
    .option-content {
    display: flex;
    align-items: center;
    }
    
    .option-content svg {
    margin-right: 8px; /* Adjust spacing between icon and text */
    }
    
    .mat-autocomplete-panel {
    position: relative;
    }
    
    .add-new-customer-option {
    position: sticky;
    bottom: 0;
    background-color: rgb(217, 219, 241);
    z-index: 1;
    margin-bottom: 0;
    }
    
    .add-new-customer-option:hover {
        position: sticky;
        bottom: 0;
        background-color: rgb(233, 241, 200);
        z-index: 1;
        margin-bottom: 0;
        }
    
    .option-content {
    display: flex;
    align-items: center;
    }
    
    .add-new-customer-option mat-icon {
    margin-right: 8px;
    }
    