.cardWithShadow {

    .currentAction {
        color: #ebb31bfb;
        font-size: 16px;
    }
    
    .Buttons_div {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;

        .TwoButtons {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            border-style: none;
            padding: 10px;
            border-radius: 10px;
            color: white;
        }


    }
}

.cardWithShadow {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;

        .filter-date {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
    
            .date_picker {
                width: 100%;
                height: fit-content;
            }
    
            .dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    // .table-responsive{
    //     table {
    //         tr:hover {
    //             cursor: pointer;
    //             background: #f6f7ee30;
                
    //         }
    //     }
    // }
}



tr.example-detail-row {
    height: 0;
}

.example-element-row td {
    border-bottom-width: 0;
}



@media (max-width: 600px) {
    .cardWithShadow {
        header {
            display: flex;
            flex-direction: column;

            .searchbar {
                margin: 10px 20px 0 20px;
            }

            .filter-date {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }
}

@media (max-width: 950px) {
    header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }
}