main{
    margin: 20px 0;
  }
  
  /* section {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    overflow-x: auto;
    border-style: none;
    padding: 10px;
    border-radius: 20px;
  } */
  
  
  section{
    background: white;
    overflow-x: auto;
    border-style: solid;
    border-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(226, 236, 249, 0.5);
  }
  
  .forDrop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  
  .forDrop div{
    width: 100%;
  }
  
  .forLine{
    border: 1px solid #0000001A;
  }
  
  
  /* table rows and hr lines */
  table tr {
    border-bottom: 1px solid #e9edf7;
    height: 25px;
    cursor: pointer;
  }
  
  table tr:not(:first-child):hover {
    background-color: #f3f3f3;
  }
  
  /* table head */
  .highlight-header th {
    color: gray;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 13px;
  }
  
  /* the whole table */
  table {
    border-collapse: collapse;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
  }
  
  th{
    color: #B5B7C0;
  }
  
  th
   {
    text-align: left;
    padding: 8px;
  }
  td{
    text-align: left;
    padding: 8px;
    align-items: flex-start;
  }
  /* body row hover */
  .body:hover {
    background: #efeeee;
    cursor: pointer;
  }
  
  /* status */
  .active-class p,
  .nonActive-class p,
  .pending-class p {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    padding: 5px 10px;
    margin: auto 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  
  .active-class p {
    background: #16c09861;
    color: #00b087;
    border-color: #00b087;
    text-transform: uppercase;
  }
  
  .pending-class p {
    background: #f3e78261;
    color: #d6b306;
    border-color: #d6b306;
    text-transform: uppercase;
  }
  
  .nonActive-class p {
    background: #ffc5c5;
    color: #df0404;
    border-color: #df0404;
    text-transform: uppercase;
  }
  
  .noItemsFound {
    color: rgb(159, 154, 154);
    font-size: 16px;
  }
  
  .status {
    text-align: center;
    vertical-align: center;
  }
  
  .status-values {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pickupLocation {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  
  .active-class p,
  .nonActive-class p,
  .pending-class p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 5px 10px;
    margin: auto 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
  }
  
  .active-class p {
    background: #16c09861;
    color: #00b087;
    border-color: #00b087;
    text-transform: uppercase;
  }
  
  .nonActive-class p {
    background: #ffc5c5;
    color: #df0404;
    border-color: #df0404;
    text-transform: uppercase;
  }
  .status-values {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  @media (max-width:1500px) {
  section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-x: auto;
    border-style: none;
    padding: 10px;
    border-radius: 20px;
  }
  }
  
  
  @media (min-width:675px) {
    .forDrop{
      align-items: center;
    }
  }
  @media (max-width:674px) {
    .forDrop{
      display: flex;
      flex-direction: column;
    }
  }