<main>
    
    <div class="forDrop">
        <div><app-dropdown-filter [dropTitle]="dropTitle1" [dropOptions]="dropOptions1"></app-dropdown-filter></div>
        <div><app-dropdown-filter [dropTitle]="dropTitle2" [dropOptions]="dropOptions2"></app-dropdown-filter></div>
        <div> <app-dropdown-filter [dropTitle]="dropTitle3" [dropOptions]="dropOptions3"></app-dropdown-filter></div>
    </div>
    
    <section>
    <!-- <div class="table"> -->
        <table>
            <!-- table Titles -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Username</th>
                    <th class="col-xs-3">Video Url</th>
                    <th class="col-xs-3">Duration</th>
                    <th class="col-xs-3">Cost</th>
                    <th class="col-xs-3">Nb of Speakers</th>
                    <th class="col-xs-3">Transcription Type</th>
                    <th class="col-xs-3">Turnaround time</th>
                    <th class="col-xs-3">Status</th>
                </ng-container>
            </tr>
            
            <!-- table Body -->
            <tr class="body" *ngFor="let trans of transcriptionArray" (click)="moveToRouteWithIndex('/transcription/details',trans.id )">
                <td>{{trans.USERNAME}}</td>
                <td>{{trans.VIDEOURL}}</td>
                <td>{{trans.DURATION}} min</td>
                <td>{{trans.COST}} $</td>
                <td>{{trans.NUMBEROFSPEAKERS}}</td>
                <td>{{trans.TRANSCRIPTIONTYPE}}</td>
                <td>{{trans.TURNAROUNDTIME}}</td>
                <td class="status-values" [ngClass]="{'active-class': trans.STATUS === 'ACCEPTED','nonActive-class': trans.STATUS === 'DECLINED','pending-class': trans.STATUS === 'PENDING'}">
                    <p>{{trans.STATUS}}</p>
                </td>
            </tr>
               
            </table>
    <!-- </div> -->
    
    <!-- <div class="form" *ngIf="showform">
        <app-form></app-form>
    </div> -->
    
    </section> 
    </main>
    