<aside>
  <header *ngIf="showCloseButton">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </header>

  <!-- logo -->
<div class="LogoIcon">  
  <img [src]="logo" alt="" *ngIf="!showCloseButton" class="logo">
</div>

<!-- list -->

<ul class="TopSidebarArray">

  <div *ngFor="let element of sidebarArray">

    <div *ngIf="element.group=='top'">

      <div *ngIf="element.dropdown_Array.length==0">
        <li (click)="moveToRoute(element.route)"  [class.active]="Active(element.route_array)" data-bs-dismiss="offcanvas" aria-label="Close">
          <img class="svg-image" [src]="element.icon" alt="">
          {{ element.name }}
        </li>
      </div>


      <div *ngIf="element.dropdown_Array.length>0">
        <li class="LiWithDropdown" [class.active]="Active(element.route_array)" data-bs-dismiss="offcanvas" aria-label="Close" (click)="showMore(element.name)"> 
          <div class="div1">
            <img class="svg-image" [src]="element.icon" alt="">
            {{element.name}}
          </div>
          
          <div class="div2">

            <div *ngIf="!element.show">
              <svg class="svg-image" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 10L12 15L17 10" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </div>

            <div *ngIf="element.show">
              <svg class="svg-image" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M17 15L12 10L7 15" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>  
            </div>

          </div>
        </li>
        
        <div *ngIf="element.show">
          <ul *ngFor="let dropElement of element.dropdown_Array" class="showmoreUL">
            <li (click)="moveToRoute(dropElement.route)" [class.active]="Active(dropElement.route_array)">{{dropElement.name}}</li>
          </ul>
        </div>

      </div>
      

    </div>

  </div>
 
  
  <hr class="forhr" />
  
</ul>


<ul class="BOTTOMSidebarArray">
<div *ngFor="let element of sidebarArray">
  <div *ngIf="element.group=='bottom'">

    <div *ngIf="element.dropdown_Array.length==0">
      <li (click)='element.function' class="bottomLinks" (click)="moveToRoute(element.route)"  [class.active]="Active(element.route_array)" data-bs-dismiss="offcanvas" aria-label="Close">
        <img class="svg-image" [src]="element.icon" alt="">
        {{ element.name }}
      </li>
    </div> 
</div>
</div>

<div>
  <div>
    <div>
      <li (click)="logout() "class="bottomLinks" (click)="moveToRoute(logout_element.route)"  [class.active]="Active(logout_element.route_array)" data-bs-dismiss="offcanvas" aria-label="Close">
        <img class="svg-image" [src]="logout_element.icon" alt="">
        {{ logout_element.name }}
      </li>
    </div> 
</div>
</div>
</ul>

</aside>