main {
    /* display: flex; */
    column-gap: 30px;
    padding: 10px 50px 30px;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 30px;
}

.column1 {
display: flex;
flex-direction: row;
align-items: center;
gap: 30px;
width: 100%;
}
  
/* Media query for screens narrower than 700px */
@media screen and (max-width: 1775px) {
  .column1 {grid-template-columns: repeat(3, minmax(0, 1fr)); }
}

/* Media query for screens narrower than 700px */
@media screen and (max-width: 999px) {
.column1 {
grid-template-columns: repeat(2, minmax(0, 1fr)); /* Display 2 elements per row on smaller screens */
}
.main{
display: block;
}
}

/* Media query for screens narrower than 700px */
@media screen and (max-width: 550px) {
.column1 {
grid-template-columns: repeat(1, minmax(0, 1fr)); /* Display 2 elements per row on smaller screens */
}
}

@media (min-width:551px) {
.main{display: flex;}
}
  
  

  .topics{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .app-topics {
    flex: 1; /* Each child takes up equal space */
  }

  .form{
    width: 100%;
  }
  
  @media (max-width: 1100px) {
    .topics{
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width:950px ) and (max-width:1009px){
    .column1{
      grid-gap:40px;
    }
  }