<main>

    <div class="column1">
      <div class="w-100"> <app-count-box [amountValue]="'4,42,236'" [title]="'Total page views'" [profit]="'35,000'" [badgeValue]="'59.3%'"></app-count-box></div>
      <div class="w-100"> <app-count-box [amountValue]="'78,250'" [title]="'Total users'" [profit]="'8,900'" [badgeValue]="'70.5%'"></app-count-box></div>
      <div class="w-100"><app-count-box [blue]="false" [amountValue]="'18,800'" [title]="'Total orders'" [profit]="'1,943'" [badgeValue]="'27.4%'"></app-count-box></div>
      <div class="w-100"> <app-count-box [blue]="false" [amountValue]="'$ 35,078'" [title]="'Total sales'" [profit]="'$ 20,395'" [badgeValue]="'27.4%'"></app-count-box></div>
    </div>
  
    <div class="d-flex align-items-center justify-content-between">
  <app-area-chart></app-area-chart>
  <!-- <app-line-chart></app-line-chart> -->
    </div>
  
    <div class="d-flex align-items-center justify-content-between">
   <app-bar-chart></app-bar-chart>
   <app-round-chart></app-round-chart>
        </div>
  
    <div>
      <app-base-table></app-base-table>
    </div>
  
  </main>