<app-loading *ngIf="showloadingOnLogin"></app-loading>

<div class="mainn">
    <header class="sidebar" [ngClass]="{'showSidebar': showHeader()}">
        <app-sidebar></app-sidebar>
    </header>

    <main>

        <section *ngIf="showHeader()">
            <app-navbar class="navbar" [ngClass]="{'showHeader': showHeader()}"></app-navbar>
            <app-header [showSearchbar]="showSearchBar" class="header" [ngClass]="{'showHeader': showHeader()}"></app-header>
        </section>

        <router-outlet></router-outlet>
    </main>
</div>

