<main>
    <section>

        <!-- TABLE -->
        <table>

            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    
                    <th class="col-xs-3">Full Name</th>
                    <th class="col-xs-3">Profession</th>
                    <th class="col-xs-3">Nationality</th>
                    <th class="col-xs-3">Desired Country</th>
                    <th class="col-xs-3">Gender</th>
                    <th class="col-xs-3">Created At</th>
                    <th class="col-xs-3">Note</th>
                    <th class="col-xs-3">Result</th>
                    <th class="col-xs-3">Download File</th>
                    <th class="col-xs-3">Status</th>
                    <th class="col-xs-3">Action</th>
                </ng-container>
            </tr>

            <!-- TABLE BODY -->
            <tr *ngFor="let trans of travelData" >
                <td>{{trans.fullName}}</td>
                <td>{{trans.profession}}</td>
                <td>{{trans.nationality}}</td>
                <td>{{trans.desiredCountry}}</td>
                <td>{{trans.gender}} </td>
                <td>{{trans.createdAt}}</td>
                <td>{{trans.note}}</td>
                <td>{{trans.result}}</td>
                <td>{{trans.downloadFile}}</td>
                <td>{{trans.status}}</td>
                <td>{{trans.action}}</td>
            </tr>

        </table>

        <!-- TABLE SHIMMER -->
        <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer>


        <!-- TABLE PAGING -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)" [pageSize]="ArrayLength">
        </app-pagination>


    </section>
</main>