<main>
    <section>

        <!-- TABLE -->
        <table>

            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">#</th>
                    <th class="col-xs-3">First name</th>
                    <th class="col-xs-3">Last name</th>
                    <th class="col-xs-3">Payment Method</th>
                    <th class="col-xs-3">Amount</th>
                    <th class="col-xs-3">Entry Date</th>
                    <th class="col-xs-3">Creation Time</th>
                </ng-container>
            </tr>

            <!-- TABLE BODY -->
            <tr *ngFor="let trans of transArray" (click)="moveToRouteWithIndex('/transaction/edit', trans.payment_ID)">
                <td>{{trans.payment_ID}}</td>
                <td>{{trans.my_USER.first_NAME}}</td>
                <td>{{trans.my_USER.last_NAME}}</td>
                <td>{{trans.payment_METHOD}}</td>
                <td>{{trans.amount}} $</td>
                <td>{{trans.entry_DATE}}</td>
                <td>{{trans.entry_DATE}}</td>
            </tr>

        </table>

        <!-- TABLE SHIMMER -->
        <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer>


        <!-- TABLE PAGING -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)" [pageSize]="ArrayLength">
        </app-pagination>


    </section>
</main>