<main>

    <div *ngIf="showTitle">
        <h3>Transaction Table</h3>
    </div>

<div class="forDrop" *ngIf="showDropdowns">
<div><app-dropdown-filter [dropTitle]="dropTitle1" [dropOptions]="dropOptions1"></app-dropdown-filter></div>
<div><app-dropdown-filter [dropTitle]="dropTitle2" [dropOptions]="dropOptions2"></app-dropdown-filter></div>
<div> <app-dropdown-filter [dropTitle]="dropTitle3" [dropOptions]="dropOptions3"></app-dropdown-filter></div>
</div>
    
<section>

<!-- Table -->
<table>

<!-- table Titles -->
<tr class="highlight-header">
<ng-container>
    <th class="col-xs-3">Id</th>
    <th class="col-xs-3">PaymentMethod</th>
    <th class="col-xs-3">Amount</th>
    <th class="col-xs-3">Entry Date</th>
    <th class="col-xs-3">Creation Time</th>
    <th class="col-xs-3">userId</th>
</ng-container>
</tr>

<!-- table Body -->
<tr *ngFor="let trans of transactionArray">
    <td>{{trans.payment_ID}}</td>
    <td>{{trans.payment_METHOD}}</td>
    <td>{{trans.amount}} $</td>
    <td>{{trans.entry_DATE}}</td>
    <td>{{trans.entry_DATE}}</td>
    <td>{{trans.user_ID}}</td>
</tr>
       
</table>
</section>
</main>
    