
.mat-mdc-card-content:last-child {
    padding-bottom: 10px;
}

.light-theme .mat-mdc-card-header {
    padding: 0px;
}


.mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted {
    background: #000;
}