/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

html, body { height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  /* font-family: 'Poppins', sans-serif; */
}

/* Custom styles for success snackbar */
.success-snackbar {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  /* Custom styles for success snackbar */
.success-snackbar {
    background-color: #4CAF50; /* Green background */
  }
  
  /* Custom styles for close button */
  .success-snackbar button {
    color: white; /* White color for close button */
  }

  /* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb8b8; /* Set the color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dedada; /* Set the color of the scrollbar handle when hovered */
}
