<main>

    <!-- DROPDOWN -->
    <div class="forDrop">
        <div class="w-100">
            <app-dropdown-filter [dropTitle]="dropTitle1" [dropOptions]="dropOptions1" [dropTitle1]="dropTitle2"
                [dropOptions1]="dropOptions2" [dropTitle2]="dropTitle3" [dropOptions2]="dropOptions3"
                [showDrop2]="false" [showDrop3]="false"></app-dropdown-filter>
        </div>
    </div>
    <section>

        <!-- Table -->
        <table>
            <!-- table Titles -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Service ID</th>
                    <th class="col-xs-3">Service Name</th>
                    <th class="col-xs-3">Routes</th>
                    <th class="col-xs-3">Current Status</th>
                    <th class="col-xs-3">Fare</th>
                    <th class="col-xs-3">On-Time Performance</th>
                    <th class="col-xs-3">Customer Feedback Rating</th>
                    <th class="col-xs-3">Customer Feedback Comments</th>
                </ng-container>
            </tr>
            <!-- table Body -->
            <tr *ngFor="let translation of transportationServices">
                <td>{{translation. serviceId}}</td>
                <td>{{translation.serviceName}}</td>
                <td>{{translation.routes}}</td>
                <td>{{translation.currentStatus }}</td>
                <td>{{translation.fare}}</td>
                <td>{{translation.onTimePerformance}}</td>
                <td>{{translation.customerFeedbackRating}}</td>
                <td>{{translation.customerFeedbackComments}}</td>
            </tr>
        </table>

        <!-- Shimmer Component -->
        <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer>

        <!-- Pagination Component -->
        <app-pagination *ngIf="showPaging" (currentPageEvent)="receivePageSize($event)" [pageSize]="Array_Length">
        </app-pagination>

    </section>
</main>