<main>

      <!-- DROPDOWN -->
      <!-- <div class="forDrop">
        <div class="w-100"><app-dropdown-filter [dropTitle]="dropTitle1" [dropOptions]="dropOptions1"
                [dropTitle1]="dropTitle2" [dropOptions1]="dropOptions2" [dropTitle2]="dropTitle3"
                [dropOptions2]="dropOptions3"></app-dropdown-filter></div>
    </div> -->
    <section>

        <!-- Table -->
        <table>
            <!-- table Titles -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">Service ID</th>
                    <th class="col-xs-3">Content Type</th>
                    <th class="col-xs-3">First Name</th>
                    <th class="col-xs-3">Last Name</th>
                    <th class="col-xs-3">Time</th>
                    <th class="col-xs-3">Phone Number</th>
                    <th class="col-xs-3">Country</th>
                </ng-container>
            </tr>

            <!-- table Body -->
            <!-- <tr *ngFor="let translation of Transcription_Array" (click)="moveToRouteWithIndex('/translation/websiteTranslation', translation.user_ID)">
        <td>{{translation. quote_TRANSLATION_ID}}</td>
        <td>{{translation.quote_TYPE}}</td>
        <td>{{translation.source_LANGUAGE }}</td>
        <td>{{translation.target_LANGUAGE }}</td>
        <td>{{translation.url_SOURCE}}</td>
        <td>{{translation.user_ID}}</td>
    </tr>           -->
        </table>

        <!-- Shimmer Component -->
        <!-- <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer> -->

        <!-- Pagination Component -->
        <!-- <app-pagination
*ngIf="showPaging"
(currentPageEvent)="receivePageSize($event)"
[pageSize]="Array_Length">
</app-pagination> -->

    </section>
</main>