<main>

    <div class="firstDiv" *ngIf="showTitle">
        <h3>Admins Table</h3>
        <button (click)="moveToRoute('/admins/add')">Add Admin</button>
    </div>

    <section>

        <!-- TABLE -->
        <table>

            <!-- TABLE TITLES -->
            <tr class="highlight-header">
                <ng-container>
                    <th class="col-xs-3">id</th>
                    <th class="col-xs-3">GOOGLE_U</th>
                    <th class="col-xs-3">email</th>
                    <th class="col-xs-3">IS_ACTIVE</th>
                    <th class="col-xs-3">FirstNAME</th>
                    <th class="col-xs-3">lastName</th>
                    <th class="col-xs-3">datetimeCreated</th>
                </ng-container>
            </tr>

            <!-- TABLE BODY -->
            <tr *ngFor="let users of Admins_Array" (click)="moveToRouteWithIndex('/admins/edit', users.id)">
                <td>{{users.id}}</td>
                <td>{{users.GOOGLE_U}}</td>
                <td>{{users.email}}</td>
                <td>{{users.IS_ACTIVE}}</td>
                <td>{{users.FirstNAME}}</td>
                <td>{{users.lastName}}</td>
                <td>{{users.datetimeCreated}}</td>
            </tr>

        </table>

        <!-- TABLE SHIMMER -->
        <app-table-shimmer *ngIf="showShimmer"></app-table-shimmer>

        <!-- PTABLE PAGING -->
        <app-pagination (currentPageEvent)="receivePageSize($event)" [pageSize]="ArrayLength"></app-pagination>


    </section>
</main>