<mat-card class="cardWithShadow">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Add Customer">
      <mat-card-content>

        <!-- FIRST ROW :  name + phoneNumber + address -->
        <div class="row">

          <!-- name -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Name</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Name" [(ngModel)]="ADDED_CUSTOMER.name" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>

          <!-- phoneNumber -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">phoneNumber</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="phoneNumbere" [(ngModel)]="ADDED_CUSTOMER.phoneNumber" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>

          <!-- address-->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">address</mat-label>
            </div>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="address" [(ngModel)]="ADDED_CUSTOMER.address" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="Buttons_div">
          <div *ngIf="ShowAddButoon">
            <button mat-flat-button color="primary" (click)="ADD_CUSTOMER(ADDED_CUSTOMER)"> Add Customer </button>
          </div>

          <div class="TwoButtons" *ngIf="!ShowAddButoon">
            <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>
            <button mat-flat-button color="primary" (click)="UPDATE_CUSTOMER(ADDED_CUSTOMER)">Update Customer</button>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card class="cardWithShadow">

  <!-- Search -->
  <header>

    <div class="col-sm-4 p-20 searchbar ">
      <mat-form-field appearance="outline" class="hide-hint custom-search ">
        <input matInput (keyup)="APPLY_SEARCH_FILTER($any($event.target).value)" placeholder="Search Customer's" />
        <mat-icon matSuffix>
          <i-tabler name="search" class="icon-15"></i-tabler>
        </mat-icon>
      </mat-form-field>
    </div>

    <div class="Buttons_div">
      <div *ngIf="show_print_btn">
        <button mat-flat-button color="primary"> Print </button>
      </div>
<!-- 
      <div class="TwoButtons" *ngIf="!ShowAddButoon">
        <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>
        <button mat-flat-button color="primary" (click)="UPDATE_VISA(ADDED_VISA)">Update Visa</button>
      </div> -->
    </div>

    
    <div class="filter-date">

      @if(showDatePicker) {
      <mat-form-field appearance="outline" class="date_picker">

        <mat-date-range-input [rangePicker]="custompicker">
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="custompicker"></mat-datepicker-toggle>
        <mat-date-range-picker #custompicker></mat-date-range-picker>

      </mat-form-field>
      }

      <!-- <div class="dropdown">
        <mat-form-field class="theme-select" appearance="outline">
          <mat-select [(ngModel)]="selectedStatusFilteraTION" (selectionChange)="onChange($event.value, 'status')" placeholder="All">
            <mat-option *ngFor="let element of Filteration" [value]="element.value">{{ element.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

    </div>


  </header>

  <!-- Table -->
  <mat-card-content>

    <div class="table-responsive">

      <table mat-table [dataSource]="CustomersArray" class="w-100">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="p-l-0">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              color="primary" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="p-l-0">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              color="primary" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Name
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1" (click)="VIEW_CUSTOMER()">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Phone-Number">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Phone-Number
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1" (click)="VIEW_CUSTOMER()">
            {{ element.phoneNumber }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Address" >
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Address
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1" (click)="VIEW_CUSTOMER()">
            {{ element.address }}
          </td>
        </ng-container>

       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

  </mat-card-content>

</mat-card>