// FIRST CARD : ADD VISA
.cardWithShadow {

    .Buttons_div {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;

        .TwoButtons {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            border-style: none;
            padding: 10px;
            border-radius: 10px;
            color: white;
        }

        .invoice-btn:hover {
            cursor: pointer;
            background-color: #79af8dfb;
            color: rgb(5, 78, 53);
        }
    }
}

.cardWithShadow {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;

        .filter-date {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
    
            .date_picker {
                width: 100%;
                height: fit-content;
            }
    
            .dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .table-responsive{
        table {
            tr:hover {
                cursor: pointer;
                background: #e6e4e4;
            }
        }
    }
}

@media (max-width: 950px) {
    header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }
}