// FIRST CARD : ADD VISA
.cardWithShadow {

    .Buttons_div {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;

        .TwoButtons {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            border-style: none;
            padding: 10px;
            border-radius: 10px;
            color: white;
        }

        .invoice-btn:hover {
            cursor: pointer;
            background-color: #79af8dfb;
            color: rgb(5, 78, 53);
        }
    }
}

.cardWithShadow {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;

        .filter-date {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
    
            .date_picker {
                width: 100%;
                height: fit-content;
            }
    
            .dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .table-responsive{
        table {
            td {
                cursor: pointer;
            }
            td:hover {
                background: #e6e4e4;
            }
        }
    }
}


@media (max-width: 950px) {
    header {
        display: flex;
        background: #d0c0c0;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .filter-date {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 10px;

            .date_picker {
                width: 100%;
                height: fit-content;
            }

            .dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 800px) {
    .InputsWholeRow {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .inputsInAdd {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            section {
                display: flex;
                flex-direction: row;
                column-gap: 5px;
                width: 100%;

                div {
                    width: 100%;

                    input,
                    select {
                        width: 100%;
                        border: 1px solid lightgray;
                        border-radius: 10px;
                        padding: 10px 5px;
                    }
                }
            }

        }

        div {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            min-width: 100px;
        }

        .TwoButtons {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }


    }

}

@media (max-width: 600px) {
    .cardWithShadow {
        header {
            display: flex;
            flex-direction: column;

            .filter-date {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }

}

@media (max-width: 350px) {
    .InputsWholeRow {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .inputsInAdd {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            section {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                width: 100%;

                div {
                    width: 100%;

                    input,
                    select {
                        width: 100%;
                        border: 1px solid lightgray;
                        border-radius: 10px;
                        padding: 10px 5px;
                    }
                }
            }
        }
    }
}