<mat-card class="cardWithShadow">

  <mat-expansion-panel 
  [expanded]="open_expansion_value === 1"
  (opened)="OPEN_PANEL()" 
  (closed)="CLOSE_PANEL()"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="f-w-600 mat-body-1 currentAction">{{currentAction}}</mat-panel-title>
    </mat-expansion-panel-header>

      <mat-card-content>

        <!-- FIRST ROW :  NAME + phoneNumber + address -->
        <div class="row">

          <!-- NAME -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Name</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Name" [(ngModel)]="ADDED_CUSTOMER.name"  (ngModelChange)="onInputChange()"/>
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
          </div>

          <!-- phoneNumber -->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Phone-Number</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Phone-Number" type="number" [(ngModel)]="ADDED_CUSTOMER.phoneNumber"  (ngModelChange)="onInputChange()"/>
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                  fill="#5f6368">
                  <path
                    d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
                </svg>
              </mat-icon>
            </mat-form-field>
            <p class="text-error">{{phoneNubError}}</p>
          </div>

          <!-- address-->
          <div class="col-md-4 d-flex flex-column">
            <div class="d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Address</mat-label>
            </div>

            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Address" (ngModelChange)="onInputChange()" [(ngModel)]="ADDED_CUSTOMER.address" />
              <mat-icon matPrefix class="op-5">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
                </svg>
            </mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="Buttons_div">
          <div *ngIf="ShowAddButoon">
            <button mat-flat-button color="primary" (click)="ADD_CUSTOMER(ADDED_CUSTOMER)"> Add Customer </button>
          </div>

          <div class="TwoButtons" *ngIf="!ShowAddButoon">
            <button (click)="CANCEL_UPDATE()" mat-flat-button color="primary">Cancel</button>          
          
            <button mat-flat-button color="primary" (click)="UPDATE_CUSTOMER(ADDED_CUSTOMER)" [disabled]="SHOW_LOADING_SPINNER || !DATA_CHANGED">
              <span *ngIf="!SHOW_LOADING_SPINNER">Update Customer</span>
              <mat-spinner diameter="20" *ngIf="SHOW_LOADING_SPINNER"></mat-spinner>
            </button> 
          </div>
        </div>
      </mat-card-content>

</mat-expansion-panel>
</mat-card>

<mat-card class="cardWithShadow">

  <!-- HEADER : search + dropdowns -->
  <header>
    <div class="searchbar p-20">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Search Customers..." aria-label="Product"
          (keyup)="APPLY_SEARCH_FILTER($any($event.target).value)">
        <mat-icon matPrefix class="op-5">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-20 d-flex" height="24px" viewBox="0 -960 960 960"
            width="24px" fill="#5f6368">
            <path
              d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
          </svg>
        </mat-icon>
      </mat-form-field>
    </div>


    <div class="filter-date p-20">
    <!-- Download As -->
    <div class="dropdown">
      <mat-form-field appearance="outline" class="w-100">
        <mat-select placeholder={{selectedDownloadOption}} [ngModel]="selectedDownloadOption"
          (selectionChange)="DROPDOWN_FILTERATION($event.value, 'Download')">
          @for(option of Options; track option) {
          <mat-option value={{option.value}}>{{option.viewValue}}</mat-option>
          }
        </mat-select>
        <mat-icon matPrefix class="op-5">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
            <path
              d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
          </svg>
        </mat-icon>
      </mat-form-field>
    </div>
  </div>

    <!-- <div class="Buttons_div">
      <div *ngIf="show_print_btn">
        <button mat-flat-button color="primary"> Print </button>
      </div>
    </div> -->
  </header>

  <mat-card-content>

    
    @if(show_shimmer){
      <app-table-shimmer [headers]="displayedColumns"></app-table-shimmer>
    }

    @else {
    <div class="table-responsive">
      <table mat-table [dataSource]="CustomersArray" multiTemplateDataRows>
        @for( column of displayedColumns; track column) {

        <ng-container matColumnDef="{{ column }}">
          <!-- table headers -->
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0">{{ column |
            titlecase}}</th>
          <!-- table Data -->
          <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0" (click)="ROW_CLICK(element, column)">
            <ng-container *ngIf="column !== 'action'; else actionColumn"> {{ element[column] }} </ng-container>

            <ng-template #actionColumn>
              <div class="action-link">
                <a (click)="SELECTED_CUSTOMER(element)" class="m-r-10 cursor-pointer"><i-tabler name="edit"
                    class="icon-18"></i-tabler></a>
                <a (click)="OPEN_DIALOG('delete', element)" class="m-r-10 cursor-pointer"><i-tabler name="trash"
                    class="icon-18"></i-tabler></a>
              </div>
            </ng-template>
          </td>
        </ng-container>
        }

        <!-- HEADER AND ROW DEFINITIONS -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>

      </table>

      @if(CustomersArray.filteredData.length===0 && !show_shimmer){
        <app-no-items-found></app-no-items-found>
      }

    </div>
  }

  <!--  LENGTH & PAGE-SIZE: 1-PAGE-SIZE of LENGTH -->
  <mat-paginator 
    [pageSizeOptions]="[10, 20, 30]" 
    [length]="CUSTOMERS_Array_length" 
    [pageSize]="pageSize"
    aria-label="Select page" 
    showFirstLastButtons 
    (page)="onPageChange($event)">
  </mat-paginator>

  </mat-card-content>

</mat-card>