<main>

  <div class="column1">
    <div class="w-100"> <app-count-box [amountValue]="'4,42,236'" [title]="'Total page views'"></app-count-box></div>
    <div class="w-100"> <app-count-box [amountValue]="'78,250'" [title]="'Total users'"></app-count-box></div>
    <div class="w-100"><app-count-box [amountValue]="'18,800'" [title]="'Total orders'"></app-count-box></div>
    <div class="w-100"> <app-count-box [amountValue]="'$ 35,078'" [title]="'Total sales'"></app-count-box></div>
  </div>

  <div>

  </div>

  <div>
  </div>

</main>