<main>
  <div class="column1">
    <app-count-box [onlyString]="false" [firstNb]="27" [secondNb]="80" [title]="'Active Users'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'3,298'" [title]="'Questioned Answers'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'2m 34s'" [title]="'Av. Session Length'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'64%'" [title]="'Starting Knowledge'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'86%'" [title]="'Current Knowledge'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'34%'" [title]="'Knowledge Gain'"></app-count-box>
  </div>
  
  <div class="topics">
    <app-topics [title]="'Weakest Topics'" class="app-topics" [weakest]="true"></app-topics>
    <app-topics [title]="'Strongest Topics'" class="app-topics" [weakest]="false"></app-topics>
  </div>

<div>
  <app-transaction-table 
  [showDropdowns]="false"
  ></app-transaction-table>
</div>

<div>
  <app-users-table
  [showDropdowns]="false"
  ></app-users-table>
</div>

</main>
