<main>

  <div class="column1">
    <app-count-box [onlyString]="false" [firstNb]="27" [secondNb]="80" [title]="'Active Requests'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'3,298'" [title]="'Served Clients'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'234'" [title]="'Total Immigrations'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'64%'" [title]="'Net Profits'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'86%'" [title]="'Accepted Visa'"></app-count-box>
    <app-count-box [onlyString]="true" [stringValue]="'34%'" [title]="'Monthly Gain'"></app-count-box>
  </div>

<!-- 
  <div class="topics">
    <app-topics [title]="'Weakest Topics'" class="app-topics" [weakest]="true"></app-topics>
    <app-topics [title]="'Strongest Topics'" class="app-topics" [weakest]="false"></app-topics>
  </div> -->

<div>

</div>

  <div>
    <app-users-table [showDropdowns]="false"></app-users-table>
  </div>

</main>